# Resource limits for Cassandra
{{ cassandra_username }} soft nofile 65535 # max number of open files user limit
{{ cassandra_username }} hard nofile 70000 # max number of open files kernel limit
{{ cassandra_username }} soft memlock unlimited # max locked-in-memory address space (KB)
{{ cassandra_username }} hard memlock unlimited # max locked-in-memory address space (KB)
{{ cassandra_username }} soft as unlimited # address space limit (KB)
{{ cassandra_username }} hard as unlimited # address space limit (KB)
{{ cassandra_username }} soft nproc 4096 # max number of processes
