{% set seeds = []  %}
{%- for node in groups['vc_cassandra']  -%}
{%- if hostvars[node].seed == "true" -%}
{% set ignored = seeds.append( hostvars[node].ansible_host ) %}
{% endif %}
{% endfor %}
{{ seeds | join(',') }}
