$name: "medstar";

$medstar-grey: rgb(78,78,78);
$medstar-blue: rgb(0,131,194);

$karos-blue: $medstar-blue;
$karos-orange: $medstar-grey;

$blue: $medstar-blue;
$blue-light: $medstar-blue;

$link-color-default: $blue;
$link-color-default-hover: $blue-light;

$text-heading: $medstar-grey;
$upload-target-border: $medstar-grey;

/* ---------- ---------- ---------- */
/* Branding */
$branding-top-bar: 'images/medstar-bar-grey.png';
$branding-logo: 'images/logo-medstar.png';

/* Logo positioning and size */
$branding_logo_top: 31px;
$branding_logo_left: 21px;

$branding_logo_width: 175px;
$branding_logo_height: 26px;

$branding_head_bottom: 8px;
$branding_head_left: 210px;

/* Login screen */
$branding-logo-login: 'images/logo-medstar-400.png';
$branding-logo-login-x: 55px;
$branding-logo-login-y: 40px;
$branding-logo-login-padding: 130px;
$branding-logo-login-width: 430px;
