<!DOCTYPE html>
<html>
<head>
    <title>Client Web EasyViz</title>
    <meta charset="utf-8"><!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess --><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE9" charset="utf-8"><!-- Apple iOS Safari settings --><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" /><!-- App Start Icon --><link rel="apple-touch-startup-image" href="novnc/images/screen_320x460.png" /><!-- For iOS devices set the icon to use if user bookmarks app on their homescreen --><link rel="apple-touch-icon" href="novnc/images/screen_57x57.png">
    <link href="images/favicon.png" rel="shortcut icon"/><!-- Stylesheets --><link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/ev.css" /><!-- accept: <%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %> --><script type="text/javascript" charset="utf-8">
      var lang = "<%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %>";
      g_tr = {
        DISCONNECTED: "Disconnesso",
        INCORRECT_USERNAME_OR_PASSWORD: "Nome utente o password non corretti",
        VNC_CLIENT: "Client VNC",
        CODE: "Codice",
        LOGGING_IN: "Accesso",
        LAUNCHING_VNC: "Avvio",
        PRECONNECTING: "Accesso",
        MANUAL_CHROME_FRAME: "Fare clic qui per installare Chrome Frame manualmente se è stato possibile installare Chrome Frame tramite il pannello riportato sopra."
      };
    </script>

    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/log.js"></script>
    <script src="js/util.js"></script>
    <script src="js/unicode.js"></script><!--[if lte IE 9]>
    <link rel="stylesheet" href="css/iecompat.css"></link>
    <![endif]--> <!--[if (!IE)|(GT IE 9)]> --><script>var INCLUDE_URI = "novnc/include/"</script>
    <script src="novnc/include/util.js"></script>
    <script src="js/URI.min.js"></script>
    <script src="js/vnc.js"></script>
    <script src="js/backend.js"></script>
    <script src="js/main.js"></script><!-- <![endif]--></head>

<body>
  <div id="ev_login_screen"><br/> <br/> <br/><center>
      <div id="ev_header">
        <div><img src="images/ev_logo.gif" alt="Logo EasyViz" /></div>
      </div><br/> <br/> <br/><div class="main_box" style="border-style: solid; border-width: 0px;">
        <div class="login_box">
          <form id="ev_login_form" action="#">
            <table width="" cellspacing="" cellpadding="" border="">
              <tr>
                <td>Nome utente</td><td><input id="ev_user"/></td>
              </tr>
              <tr>
                <td>Password</td><td><input id="ev_password" type="password"/></td>
              </tr>
              <tr>
                <td>Dominio</td><td><input id="ev_realm"/></td>
              </tr>
              <tr>
                <td>Lingua</td><td>
                  <select id="ev_lang">
                    <option value="en_US.utf8">Inglese</option>
                    <option value="da_DK.utf8">Danese</option>
                    <option value="fr_FR.utf8">Francese</option>
                    <option value="de_DE.utf8">Tedesco</option>
                    <option value="es_ES.utf8">Spagnolo</option>
                    <option value="sv_SE.utf8">Svedese</option>
                    <option value="it_IT.utf8">Italiano</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan=2><input type="checkbox" id="ev_join" value="1"/>
                  <label for="ev_join">Partecipa</label>
                  <input type="checkbox" id="ev_roam" value="1"/>
                  <label for="ev_roam">Riprendi</label>
                </td>
              </tr>
              <tr class="toggle">
                <td>ID sessione</td><td><input id="ev_share_session_id"/></td>
              </tr>
              <tr>
                <td></td>
                <td align="right"><input id="ev_connect_button" type="submit" value="Connetti"/></td>
              </tr>
            </table>
          </form><br/> <br/><div class="status_box">
            <ul>
              <li><em>Stato connessione</em>: <span id="ev_connect_status">Non connesso</span></li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div><!--[if lte IE 9]>
        <div id="cf_install_box">
        <div id="ev_cfmessage">
          <h3>Plugin Required</h3>
          <p>To use EasyViz Web Client in your current browser, the Google Chrome Frame plugin must be installed. To install it, please follow the instructions below.</p>
        </div>
        <div id="cfinstall_instructions" align="center">
          <div align="left" style="margin: 30px; width: 600px;">
                                   <ol style="list-style-type: decimal !important">
                                     <li>Download <a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a> (select "Save", not "Run").</li>
                                     <li>Close your browser.</li>
                                     <li>Install Google Chrome Frame (this requires administrative privileges).</li>
                                     <li>Start your browser and visit this page again.</li>
                                   </ol>
          </div>
        </div>
        <div align="left" style="margin: 20px; width: 600px;">
          <p>
            Alternatively you can use a different browser like
            <a href="http://www.mozilla.org/firefox/">Mozilla Firefox</a> or
            <a href="http://www.google.com/chrome/browser/">Google Chrome</a>.
          </p>
          <p style="margin: 80px;"></p>
        </div>
    <![endif]--></div>
      <div id="ev_footer"><br/> <!-- MI_VC_BRANCH_NAME = <%= data['MI_VC_BRANCH_NAME'] %> --> <!-- MI_VC_COMMIT_ID = <%= data['MI_VC_COMMIT_ID'] %> --> <img src="images/icon_advice.gif" alt="Raccomandazione" />&nbsp;Politica dei cookie di EasyViz <%= data['EVVERSION'] %>(<%= data['BUILD_DATE'] %>)<!--[if (!IE)|(GT IE 9)]> --><a id="ev_cookie_policy_link" href="#"></a> <br><a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a> <!-- <![endif]--></div><br/><div id="ev_cookie_policy" style="width: 800px; background: white; align: left; padding: 15px;
                                        border-radius: 5px; display: none;"><!-- display: none;  --><h2>Utilizzo dei cookie da parte del Client Web EasyViz</h2><br/><p align="left">I cookie sono piccoli file di testo che vengono memorizzati dell&apos;utente sul computer dai siti Web visitati. Sono ampiamente utilizzati per far funzionare, o funzionare in modo più efficiente, i siti Web, nonché per fornire informazioni ai proprietari del sito.</p><br/><p align="left">La tabella seguente illustra i cookie che utilizziamo e perché.</p><br/><div style="padding: 15px;">
          <table style="border: 1px solid grey; width: 100%;">
            <thead>
              <tr><th>Cookie</th><th>Nome</th><th>Scopo</th><th>Scade</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>ID sessione &nbsp;</td><td>ID sessione</td>
                <td>Per ricordare che un utente è connesso.</td>
                <td>Scade alla chiusura del browser. La sessione di EasyViz (non il cookie) potrebbe scadere prima sul server.</td>
              </tr>
              <tr>
                <td>Dominio</td><td>area di autenticazione</td>
                <td>Questo cookie viene utilizzato per ricordare l&apos;impostazione del dominio utilizzata più recentemente da un utente.</td>
                <td>Il valore scade dopo un anno.</td>
              </tr>
              <tr>
                <td>Lingua</td><td>Lingua</td>
                <td>Questo cookie viene utilizzato per ricordare l&apos;impostazione della lingua utilizzata più recentemente da un utente.</td>
                <td>Il valore scade dopo un anno.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </center>
  </div>

  <div id="ev_screen"><!-- HTML5 Canvas --><canvas id="ev_canvas" width="640px" height="20px"><!-- Canvas not supported. --></canvas>
  </div>
  <div id="ev_openuris"></div>
</body>
</html>
