<!DOCTYPE html>
<html>
<head>
    <title>EasyViz-webbklient</title>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE9">

    <!-- Apple iOS Safari settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- App Start Icon -->
    <link rel="apple-touch-startup-image" href="novnc/images/screen_320x460.png" />
    <!-- For iOS devices set the icon to use if user bookmarks app on their homescreen -->
    <link rel="apple-touch-icon" href="novnc/images/screen_57x57.png">
    <link href="images/favicon.png" rel="shortcut icon"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/ev.css" />

    <!-- accept: <%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %> -->
    <script type="text/javascript" charset="utf-8">
      var lang = "<%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %>";
      g_tr = {
        DISCONNECTED: "Frånkopplad",
        INCORRECT_USERNAME_OR_PASSWORD: "Felaktigt användarnamn eller lösenord",
        VNC_CLIENT: "VNC-klient",
        CODE: "Kod",
        LOGGING_IN: "Loggar in",
        LAUNCHING_VNC: "Startar",
        PRECONNECTING: "Loggar in",
        MANUAL_CHROME_FRAME: "Klicka här för att installera Chrome Frame manuellt om det inte gick att installera Chrome Frame via panelen ovan."
      };
    </script>

    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/log.js"></script>
    <script src="js/util.js"></script>
    <script src="js/unicode.js"></script>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/iecompat.css"></link>
    <![endif]-->

    <!--[if (!IE)|(GT IE 9)]> -->
    <script>var INCLUDE_URI = "novnc/include/"</script>
    <script src="novnc/include/util.js"></script>
    <script src="js/URI.min.js"></script>
    <script src="js/vnc.js"></script>
    <script src="js/backend.js"></script>
    <script src="js/main.js"></script>
    <!-- <![endif]-->
</head>

<body>
  <div id="ev_login_screen">
    <br/>
    <br/>
    <br/>
    <center>
      <div id="ev_header">
        <div><img src="images/ev_logo.gif" alt="EasyViz-logotyp" /></div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="main_box" style="border-style: solid; border-width: 0px;">
        <div class="login_box">
          <form id="ev_login_form" action="#">
            <table width="" cellspacing="" cellpadding="" border="">
              <tr>
                <td>Användarnamn</td><td><input id="ev_user"/></td>
              </tr>
              <tr>
                <td>Lösenord</td><td><input id="ev_password" type="password"/></td>
              </tr>
              <tr>
                <td>Domän</td><td><input id="ev_realm"/></td>
              </tr>
              <tr>
                <td>Språk</td><td>
                  <select id="ev_lang">
                    <option value="en_US.utf8">Engelska</option>
                    <option value="sv_SE.utf8">Svenska</option>
                    <option value="da_DK.utf8">Danska</option>
                    <option value="fr_FR.utf8">Franska</option>
                    <option value="de_DE.utf8">Tyska</option>
                    <option value="es_ES.utf8">Spanska</option>
                    <option value="it_IT.utf8">Italiensk</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan=2><input type="checkbox" id="ev_join" value="1"/>
                  <label for="ev_join">Anslut</label>
                  <input type="checkbox" id="ev_roam" value="1"/>
                  <label for="ev_roam">Återuppta</label>
                </td>
              </tr>
              <tr class="toggle">
                <td>Sessions-ID</td><td><input id="ev_share_session_id"/></td>
              </tr>
              <tr>
                <td></td>
                <td align="right"><input id="ev_connect_button" type="submit" value="Anslut"/></td>
              </tr>
            </table>
          </form>
          <br/>
          <br/>
          <div class="status_box">
            <ul>
              <li><em>Anslutningsstatus</em>: <span id="ev_connect_status">Ej ansluten</span></li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
    <!--[if lte IE 9]>
        <div id="cf_install_box">
        <div id="ev_cfmessage">
          <h3>Plugin krävs</h3>
          <p>Du måste installera en Google Chrome Frame-plugin för att kunna använda EasyViz-webbklienten i din webbläsare. Följ anvisningarna nedan för att installera den.</p>
        </div>
        <div id="cfinstall_instructions" align="center">
          <div align="left" style="margin: 30px; width: 600px;">
                                   <ol style="list-style-type: decimal !important">
                                     <li>Hämta <a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a> (välj ”Spara”, inte ”Kör”).</li>
                                     <li>Stäng webbläsaren.</li>
                                     <li>Installera Google Chrome Frame (administratörsrättigheter krävs).</li>
                                     <li>Starta webbläsaren och gå till den här sidan igen.</li>
                                   </ol>
          </div>
        </div>
        <div align="left" style="margin: 20px; width: 600px;">
          <p>
            Alternativt kan du använda en annan webbläsare, till exempel
            <a href="http://www.mozilla.org/firefox/">Mozilla Firefox</a> eller
            <a href="http://www.google.com/chrome/browser/">Google Chrome</a>.
          </p>
          <p style="margin: 80px;"></p>
        </div>
    <![endif]-->
      </div>
      <div id="ev_footer">
        <br/>
          <!-- MI_VC_BRANCH_NAME = <%= data['MI_VC_BRANCH_NAME'] %> -->
          <!-- MI_VC_COMMIT_ID = <%= data['MI_VC_COMMIT_ID'] %> -->
          <img src="images/icon_advice.gif" alt="Råd" />
            &nbsp;
            EasyViz <%= data['EVVERSION'] %> (<%= data['BUILD_DATE'] %>)
          <!--[if (!IE)|(GT IE 9)]> -->
          <a id="ev_cookie_policy_link" href="#">cookiepolicy för</a><br><a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a>
          <!-- <![endif]-->
      </div>
        <br/>
      <div id="ev_cookie_policy" style="width: 800px; background: white; align: left; padding: 15px;
                                        border-radius: 5px; display: none;"> <!-- display: none;  -->

        <h2>Användning av cookies i EasyViz-webbklient</h2>
        <br/>
        <p align="left">
        Cookies är små textfiler som sparas på din dator när du besöker olika webbplatser. De är vanliga och används för att få webbplatser att fungera, eller fungera effektivare, och för att ge information till webbplatsens ägare.</p>
        <br/>
        <p align="left">Tabellen nedan beskriver hur vi använder cookies och varför.</p>
        <br/>

        <div style="padding: 15px;">
          <table style="border: 1px solid grey; width: 100%;">
            <thead>
              <tr><th>Cookie</th> <th>Namn</th> <th>Syfte</th> <th>Löper ut</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Sessions-ID</td> <td>sessions-id</td>
                <td>För att komma ihåg att en användare är inloggad.</td>
                <td>Löper ut när du stänger webbläsaren. Din EasyViz-session (inte cookien) kan löpa ut tidigare på servern. </td>
              </tr>
              <tr>
                <td>Domän</td> <td>sfär</td>
                <td>
                  Cookien används för att komma ihåg användarens senast använda domäninställningar. </td>
                <td>Värdet löper ut efter ett år.</td>
              </tr>
              <tr>
                <td>Språk</td> <td>språk</td>
                <td>Cookien används för att komma ihåg användarens senast använda språkinställningar. </td>
                <td>Värdet löper ut efter ett år.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </center>
  </div>

  <div id="ev_screen">
    <!-- HTML5 Canvas -->
    <canvas id="ev_canvas" width="640px" height="20px">
      <!-- Canvas not supported. -->
    </canvas>
  </div>
  <div id="ev_openuris"></div>
</body>
</html>
