body,td,p {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-style:normal;
  font-size:12px
}
.pagetitle {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-style:normal;
  font-size:18px
}
.methodtitle {
  font-size:medium;
  font-style:bold;
  color:#0000AA;
  background: #aaaaff
}
.paramsig {
  font-size:small;
  color:#0000AA;
  background:#aaaaff
}
table {
  border-collapse:collapse;
  border-color:#CCCCCC;
}
.vbtn {
  height:20px;
  width:18px;
  font:bold 10pt arial;
  vertical-align:middle;
}
