$name: "kibi-light";

/* ---------- ---------- ---------- */
/* Branding */
$branding-top-bar: '../kibi-light/images/kibi-red-bar.png';
$branding-logo: '../kibi-light/images/kibi-logo.png';

/* Logo positioning and size */
$branding_logo_top: 16px;
$branding_logo_left: 15px;

$branding_logo_width: 350px;
$branding_logo_height: 50px;

$branding_head_bottom: 0px;
$branding_head_left: 190px;

/* Login screen */
$branding-logo-login: '../kibi-light/images/kibi-300.png';
$branding-logo-login-x: 25px;
$branding-logo-login-y: 10px;
$branding-logo-login-padding: 120px;
$branding-logo-login-width: 360px;

/* Heading */
$text-heading: #d7000b;
