<!DOCTYPE html>
<html>
<head>
    <title>EasyViz Web Client</title>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE9">

    <!-- Apple iOS Safari settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- App Start Icon -->
    <link rel="apple-touch-startup-image" href="novnc/images/screen_320x460.png" />
    <!-- For iOS devices set the icon to use if user bookmarks app on their homescreen -->
    <link rel="apple-touch-icon" href="novnc/images/screen_57x57.png">
    <link href="images/favicon.png" rel="shortcut icon"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/ev.css" />

    <!-- accept: <%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %> -->
    <script type="text/javascript" charset="utf-8">
      var lang = "<%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %>";
      g_tr = {
        DISCONNECTED: "Déconnecté",
        INCORRECT_USERNAME_OR_PASSWORD: "Nom d'utilisateur ou mot de passe incorrect",
        VNC_CLIENT: "Client VNC",
        CODE: "Code",
        LOGGING_IN: "Connexion",
        LAUNCHING_VNC: "Lancement",
        PRECONNECTING: "Connexion",
        MANUAL_CHROME_FRAME: "Pour installer manuellement Chrome Frame si vous n'avez pas pu installer Chrome Frame à l'aide du panneau ci-dessous, cliquez ici."
      };
    </script>

    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/log.js"></script>
    <script src="js/util.js"></script>
    <script src="js/unicode.js"></script>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/iecompat.css"></link>
    <![endif]-->

    <!--[if (!IE)|(GT IE 9)]> -->
    <script>var INCLUDE_URI = "novnc/include/"</script>
    <script src="novnc/include/util.js"></script>
    <script src="js/URI.min.js"></script>
    <script src="js/vnc.js"></script>
    <script src="js/backend.js"></script>
    <script src="js/main.js"></script>
    <!-- <![endif]-->
</head>

<body>
  <div id="ev_login_screen">
    <br/>
    <br/>
    <br/>
    <center>
      <div id="ev_header">
        <div><img src="images/ev_logo.gif" alt="EasyViz logo" /></div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="main_box" style="border-style: solid; border-width: 0px;">
        <div class="login_box">
          <form id="ev_login_form" action="#">
            <table width="" cellspacing="" cellpadding="" border="">
              <tr>
                <td>Nom d'utilisateur</td><td><input id="ev_user"/></td>
              </tr>
              <tr>
                <td>Mot de passe</td><td><input id="ev_password" type="password"/></td>
              </tr>
              <tr>
                <td>Domaine</td><td><input id="ev_realm"/></td>
              </tr>
              <tr>
                <td>Langue</td><td>
                  <select id="ev_lang">
                    <option value="en_US.utf8">Anglais</option>
                    <option value="da_DK.utf8">Danois</option>
                    <option value="fr_FR.utf8">Français</option>
                    <option value="de_DE.utf8">Allemand</option>
                    <option value="es_ES.utf8">Espagnol</option>
                    <option value="sv_SE.utf8">Suédois</option>
                    <option value="it_IT.utf8">Italienne</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan=2><input type="checkbox" id="ev_join" value="1"/>
                  <label for="ev_join">Rejoindre</label>
                  <input type="checkbox" id="ev_roam" value="1"/>
                  <label for="ev_roam">Reprendre</label>
                </td>
              </tr>
              <tr class="toggle">
                <td>ID de session</td><td><input id="ev_share_session_id"/></td>
              </tr>
              <tr>
                <td></td>
                <td align="right"><input id="ev_connect_button" type="submit" value="Connect"/></td>
              </tr>
            </table>
          </form>
          <br/>
          <br/>
          <div class="status_box">
            <ul>
              <li><em>Statut de la connexion</em>: <span id="ev_connect_status">Non connecté</span></li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
    <!--[if lte IE 9]>
        <div id="cf_install_box">
        <div id="ev_cfmessage">
          <h3>Plugin Required</h3>
          <p>To use EasyViz Web Client in your current browser, the Google Chrome Frame plugin must be installed. To install it, please follow the instructions below.</p>
        </div>
        <div id="cfinstall_instructions" align="center">
          <div align="left" style="margin: 30px; width: 600px;">
                                   <ol style="list-style-type: decimal !important">
                                     <li>Download <a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a> (select "Save", not "Run").</li>
                                     <li>Close your browser.</li>
                                     <li>Install Google Chrome Frame (this requires administrative privileges).</li>
                                     <li>Start your browser and visit this page again.</li>
                                   </ol>
          </div>
        </div>
        <div align="left" style="margin: 20px; width: 600px;">
          <p>
            Alternatively you can use a different browser like
            <a href="http://www.mozilla.org/firefox/">Mozilla Firefox</a> or
            <a href="http://www.google.com/chrome/browser/">Google Chrome</a>.
          </p>
          <p style="margin: 80px;"></p>
        </div>
    <![endif]-->
      </div>
      <div id="ev_footer">
        <br/>
          <!-- MI_VC_BRANCH_NAME = <%= data['MI_VC_BRANCH_NAME'] %> -->
          <!-- MI_VC_COMMIT_ID = <%= data['MI_VC_COMMIT_ID'] %> -->
          <img src="images/icon_advice.gif" alt="Advice" />
            &nbsp;
            EasyViz <%= data['EVVERSION'] %> (<%= data['BUILD_DATE'] %>)
          <!--[if (!IE)|(GT IE 9)]> -->
          <a id="ev_cookie_policy_link" href="#">politique de cookies</a><br><a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a>
          <!-- <![endif]-->
      </div>
        <br/>
      <div id="ev_cookie_policy" style="width: 800px; background: white; align: left; padding: 15px;
                                        border-radius: 5px; display: none;"> <!-- display: none;  -->

        <h2>Utilisation des cookies par EasyViz Web Client</h2>
        <br/>
        <p align="left">
        Les cookies sont de petits fichiers texte placés sur votre ordinateur par les sites Web que vous visitez.
        Ils sont utilisés couramment pour faire fonctionner les sites Web, ou les faire fonctionner plus efficacement, et fournir des informations aux propriétaires du site.</p>
        <br/>
        <p align="left">Le tableau ci-dessous donne une explication des cookies utilisés et la raison pour laquelle nous les utilisons.</p>
        <br/>

        <div style="padding: 15px;">
          <table style="border: 1px solid grey; width: 100%;">
            <thead>
              <tr><th>Cookie</th> <th>Nom</th> <th>Objectif</th> <th>Expire le</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>ID de session</td> <td>session-id</td>
                <td>Pour se rappeler qu'un utilisateur est connecté.</td>
                <td>Arrive à expiration lorsque l'utilisateur ferme le navigateur.
                Votre session EasyViz (non le cookie) peut arriver à expiration plus tôt sur le serveur. </td>
              </tr>
              <tr>
                <td>Domaine</td> <td>domaine</td>
                <td>
                  Ce cookie est utilisé pour se rappeler du dernier paramètre de domaine utilisé par un utilisateur. </td>
                <td>La valeur arrive à expiration après un an.</td>
              </tr>
              <tr>
                <td>Langue</td> <td>lang</td>
                <td>Ce cookie est utilisé pour se rappeler du dernier paramètre de langue utilisé par un utilisateur. </td>
                <td>La valeur arrive à expiration après un an.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </center>
  </div>

  <div id="ev_screen">
    <!-- HTML5 Canvas -->
    <canvas id="ev_canvas" width="640px" height="20px">
      <!-- Canvas not supported. -->
    </canvas>
  </div>
  <div id="ev_openuris"></div>
</body>
</html>
