<!DOCTYPE html>
<html>
<head>
    <title>EasyViz Web Client</title>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE9">

    <!-- Apple iOS Safari settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- App Start Icon -->
    <link rel="apple-touch-startup-image" href="novnc/images/screen_320x460.png" />
    <!-- For iOS devices set the icon to use if user bookmarks app on their homescreen -->
    <link rel="apple-touch-icon" href="novnc/images/screen_57x57.png">
    <link href="images/favicon.png" rel="shortcut icon"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/ev.css" />

    <!-- accept: <%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %> -->
    <script type="text/javascript" charset="utf-8">
      var lang = "<%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %>";
      g_tr = {
        DISCONNECTED: "Forbindelse mistet",
        INCORRECT_USERNAME_OR_PASSWORD: "Forkert brugernavn eller adgangskode",
        VNC_CLIENT: "VNC Klient",
        CODE: "Kode",
        LOGGING_IN: "Logger ind",
        LAUNCHING_VNC: "Forbinder",
        PRECONNECTING: "Logger ind",
        MANUAL_CHROME_FRAME: "Klik her for manuel installation af Chrome Frame, hvis installation via det ovenstående panel fejlede."
      };
    </script>

    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/log.js"></script>
    <script src="js/util.js"></script>
    <script src="js/unicode.js"></script>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/iecompat.css"></link>
    <![endif]-->

    <!--[if (!IE)|(GT IE 9)]> -->
    <script>var INCLUDE_URI = "novnc/include/"</script>
    <script src="novnc/include/util.js"></script>
    <script src="js/URI.min.js"></script>
    <script src="js/vnc.js"></script>
    <script src="js/backend.js"></script>
    <script src="js/main.js"></script>
    <!-- <![endif]-->
</head>

<body>
  <div id="ev_login_screen">
    <br/>
    <br/>
    <br/>
    <center>
      <div id="ev_header">
        <div><img src="images/ev_logo.gif" alt="EasyViz logo" /></div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="main_box" style="border-style: solid; border-width: 0px;">
        <div class="login_box">
          <form id="ev_login_form" action="#">
            <table width="" cellspacing="" cellpadding="" border="">
              <tr>
                <td>Brugernavn</td><td><input id="ev_user"/></td>
              </tr>
              <tr>
                <td>Adgangskode</td><td><input id="ev_password" type="password"/></td>
              </tr>
              <tr>
                <td>Domæne</td><td><input id="ev_realm"/></td>
              </tr>
              <tr>
                <td>Sprog</td><td>
                  <select id="ev_lang">
                    <option value="en_US.utf8">Engelsk</option>
                    <option value="da_DK.utf8">Dansk</option>
                    <option value="fr_FR.utf8">Fransk</option>
                    <option value="es_ES.utf8">Spansk</option>
                    <option value="sv_SE.utf8">Svensk</option>
                    <option value="de_DE.utf8">Tysk</option>
                    <option value="it_IT.utf8">Italiensk</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan=2><input type="checkbox" id="ev_join" value="1"/>
                  <label for="ev_join">Deltag</label>
                  <input type="checkbox" id="ev_roam" value="1"/>
                  <label for="ev_roam">Genoptag</label>
                </td>
              </tr>
              <tr class="toggle">
                <td>Session ID</td><td><input id="ev_share_session_id"/></td>
              </tr>
              <tr>
                <td></td>
                <td align="right"><input id="ev_connect_button" type="submit" value="Connect"/></td>
              </tr>
            </table>
          </form>
          <br/>
          <br/>
          <div class="status_box">
            <ul>
              <li><em>Forbindelsesstatus</em>: <span id="ev_connect_status">Ikke forbundet</span></li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
    <!--[if lte IE 9]>
        <div id="cf_install_box">
        <div id="ev_cfmessage">
          <h3>Installer Plugin</h3>
          <p>For at bruge EasyViz Web Client i din nuværende browser skal
            Google Chrome Frame plugin være installeret. Følg
            nedenstående instruktioner for at installere det.</p>
        </div>
        <div id="cfinstall_instructions" align="center">
          <div align="left" style="margin: 30px; width: 600px;">
                                   <ol style="list-style-type: decimal !important">
                                     <li>Download <a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a> (vælg "Gem", ikke "Kør").</li>
                                     <li>Luk din browser.</li>
                                     <li>Installer Google Chrome Frame (dette kræver administrator rettigheder).</li>
                                     <li>Start din browser og besøg denne side igen.</li>
                                   </ol>
          </div>
        </div>
        <div align="left" style="margin: 20px; width: 600px;">
          <p>
            Alternativt kan du benytte en anden browser som fx
            <a href="http://www.mozilla.org/firefox/">Mozilla Firefox</a> eller
            <a href="http://www.google.com/chrome/browser/">Google Chrome</a>.
          </p>
          <p style="margin: 80px;"></p>
        </div>
    <![endif]-->
      </div>
      <div id="ev_footer">
        <br/>
          <!-- MI_VC_BRANCH_NAME = <%= data['MI_VC_BRANCH_NAME'] %> -->
          <!-- MI_VC_COMMIT_ID = <%= data['MI_VC_COMMIT_ID'] %> -->
          <img src="images/icon_advice.gif" alt="Advice" />
            &nbsp;
            EasyViz <%= data['EVVERSION'] %> (<%= data['BUILD_DATE'] %>)
          <!--[if (!IE)|(GT IE 9)]> -->
          <a id="ev_cookie_policy_link" href="#">cookie politik</a><br><a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a>
          <!-- <![endif]-->
      </div>
        <br/>
      <div id="ev_cookie_policy" style="width: 800px; background: white; align: left; padding: 15px;
                                        border-radius: 5px; display: none;"> <!-- display: none;  -->

        <h2>Brug af cookies i EasyViz Web Client</h2>
        <br/>
        <p align="left">
          En cookie er en lille tekstfil der gemmes på din computer af
          de hjemmesider du besøger. De anvendes typisk for at
          hjemmesider skal virke, virke bedre eller for give information
          til ejeren af hjemmesiden.
        </p>
        <br/>
        <p align="left">Nedenstående tabel forklarer hvilke cookies vi bruger og hvorfor.</p>
        <br/>

        <div style="padding: 15px;">
          <table style="border: 1px solid grey; width: 100%;">
            <thead>
              <tr><th>Cookie</th> <th>Navn</th> <th>Formål</th> <th>Udløber</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Session&nbsp;ID</td> <td>session-id</td>
                <td>Husker at brugeren er logget ind.</td>
                <td> Udløber når browseren lukkes. Din EasyViz session
                  (ikke cookien) kan dog udløb på serveren før dette.</td>
              </tr>
              <tr>
                <td>Domæne</td> <td>realm</td>
                <td>
                  Denne cookie anvendes til huske det sidst valgte domæne. </td>
                <td>Udløber efter et år.</td>
              </tr>
              <tr>
                <td>Sprog</td> <td>lang</td>
                <td>Denne cookie anvendes til huske det sidst valgte sprog. </td>
                <td>Udløber efter et år.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </center>
  </div>

  <div id="ev_screen">
    <!-- HTML5 Canvas -->
    <canvas id="ev_canvas" width="640px" height="20px">
      <!-- Canvas not supported. -->
    </canvas>
  </div>
  <div id="ev_openuris"></div>
</body>
</html>
