@import "rialto-light/rialto-light-variables";
@import "hitachi-light-variables";

body.#{$name}{
  background-color: $main-background-color;
  color: $text-color-primary;
}

.#{$name}{
  @import "rialto-shared/rialto-base";
  @import "rialto-shared/rialto-list";
  @import "rialto-shared/rialto-nvp";
  @import "rialto-shared/navigator";
  @import "rialto-shared/arr";
}
