$name: "vitreaConnection";

/* ---------- ---------- ---------- */
/* Branding */
$branding-top-bar: '../vitreaConnection/images/vitreaConnection-bar.png';
$branding-logo: '../vitreaConnection/images/logo-vitreaConnection.png';

/* Logo positioning and size */
$branding_logo_top: 25px;
$branding_logo_left: 15px;

$branding_logo_width: 380px;
$branding_logo_height: 45px;

$branding_head_bottom: 5px;
$branding_head_left: 400px;

/* Login screen */
$branding-logo-login: '../vitreaConnection/images/logo-vitreaConnection-login.png';
$branding-logo-login-x: 15px;
$branding-logo-login-y: 35px;
$branding-logo-login-padding: 125px;
$branding-logo-login-width: 440px;

$karos-orange: #C03F3F;
$grey-999: #909090;

$text-heading: #C03F3F;
$text-subheading: $grey-999;
$text-subheading-attribute: $white;
$text-color-primary: #fff;
$text-color-secondary: #909090;
$text-color-tertiary: #999;
$text-color-disabled: #999;
$text-color-inverse-primary: $black;
