@import "rialto-dark/rialto-dark-variables";
@import "vitreaConnection-variables";

body.#{$name}{
  background-color: $main-background-color;
  color: $text-color-primary;

  div.kh-container-login {
    padding: 30px 0px 30px 75px !important;
    padding-top: $branding-logo-login-padding !important;

    background-color: #222;
  }

  div.kh-login-block {
    background-color: #222;
  }
}

.#{$name}{

  @import "rialto-shared/RialtoBase";
  @import "rialto-shared/RialtoList";
  @import "rialto-shared/RialtoNVP";
  @import "rialto-shared/Documents";
  @import "rialto-shared/AuditRecords";
  @import "rialto-shared/EventRecords";
  @import "rialto-shared/DeviceRegistry";
  @import "rialto-shared/RialtoDashboard";
}

