$name: "vital";

$vital-grey: rgb(78,78,78);
$vital-blue: rgb(0,131,194);

$karos-blue: $vital-blue;
$karos-orange: $vital-grey;

$blue: $vital-blue;
$blue-light: $vital-blue;

$link-color-default: $blue;
$link-color-default-hover: $blue-light;

$text-heading: $vital-grey;
$upload-target-border: $vital-grey;

/* ---------- ---------- ---------- */
/* Branding */
$branding-top-bar: 'images/vital-bar-grey.png';
$branding-logo: 'images/logo-vital.png';

/* Logo positioning and size */
$branding_logo_top: 31px;
$branding_logo_left: 21px;

$branding_logo_width: 175px;
$branding_logo_height: 26px;

$branding_head_bottom: 8px;
$branding_head_left: 210px;

/* Login screen */
$branding-logo-login: 'images/logo-vital-400.png';
$branding-logo-login-x: 55px;
$branding-logo-login-y: 40px;
$branding-logo-login-padding: 130px;
$branding-logo-login-width: 430px;
