$name: "hitachi-dark";

/* ---------- ---------- ---------- */
/* Branding */
$branding-top-bar: '../hitachi-dark/images/hitachi-bar.png';
$branding-logo: '../hitachi-dark/images/logo-hitachi-300.png';

/* Logo positioning and size */
$branding_logo_top: 30px;
$branding_logo_left: 15px;

$branding_logo_width: 401px;
$branding_logo_height: 40px;

$branding_head_bottom: 5px;
$branding_head_left: 350px;

/* Login screen */
$branding-logo-login: '../hitachi-dark/images/logo-hitachi-400.png';
$branding-logo-login-x: 10px;
$branding-logo-login-y: 20px;
$branding-logo-login-padding: 100px;
$branding-logo-login-width: 440px;
