$name: "hitachi";

/* Branding */
$branding-top-bar: '../hitachi/images/hitachi-bar.png';
$branding-logo: '../hitachi/images/Hitachi.png';

/* Logo positioning */
$logo_top: 20px;
$logo_left: 15px;
$logo_width: 190px;
$logo_height: 50px;

$logo_wrap_width: 225px;

/* Header */
$text-heading: red;
