/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Define a few colours for use in this theme */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Define places where the colours (and measurements) are used */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- */
/* Background colors */
/* ---------- ---------- ---------- */
/* Branding */
/* Logo positioning and size */
/* Login screen */
/* ---------- ---------- ---------- */
/* Text and link colors */
/* ---------- ---------- ---------- */
/* Shadow for containers */
/* ---------- ---------- ---------- */
/* Borders */
/* ---------- ---------- ---------- */
/* Buttons and inputs */
/* ---------- ---------- ---------- */
/* Navigation colours */
/* ---------- ---------- ---------- */
/* Images */
/* ---------- ---------- ---------- */
/* jQuery Data Table colours */
/* ---------- ---------- ---------- */
/* Prefs table colours and images */
/* ----------------------------------*/
/* Icon images             */
/* ----------------------------------*/
/* Prefs paging images */
/* ----------------------------------*/
/* Audit record XML highlighting colours */
/* ----------------------------------*/
/* jQuery File Upload */
/* ----------------------------------*/
/* Progress indicator */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Event records use several special colours and images */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/*----------------------------------*/
/* Event collector images */
/*----------------------------------*/
/* Event collector diff background colours */
/*----------------------------------*/
/* Event collector highlight colours */
/*----------------------------------*/
/* Event collector table cell colours */
/* ---------- ---------- ---------- */
/* Branding */
/* Logo positioning and size */
/* Login screen */
body.hitachi-light {
  background-color: #f6f6f6;
  color: black; }

.hitachi-light {
  /* ---------- ---------- ---------- */
  /* Links */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Banner at top of page */
  /* ---------- ---------- ---------- */
  /* User account information and settings */
  /* Main navigation between Rialto GUI components */
  /* Make these menu triggers less button-like in appearance */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Main container (for lists, search areas, order areas, etc.) */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Action buttons and areas */
  /* ---------- ---------- ---------- */
  /* Links: button-based and text-based */
  /* ---------- ---------- ---------- */
  /* Form Elements */
  /* ---------- ---------- ---------- */
  /* TO DO: Constrain scope on these */
  /* ---------- ---------- ---------- */
  /* Main navigation tabs */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Secondary navigation tabs */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Messages */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Login Screen */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* For a starting search screen */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Menu panel */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Menu Panel (Javascript) */
  /* ---------- ---------- ---------- */
  /* iframe hack for IE */
  /* ---------- ---------- ---------- */
  /* Progress indicator */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Copyright */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /*  Confirmation presentation  */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Table head and controls */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Search criteria display */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Standard list view (supplemented by jQuery) */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* jQuery Data Table override */
  /* ---------- ---------- ---------- */
  /* Highlight a row on hover */
  /* Odd and even rows have different colours when selected */
  /* Highlight a row on hover */
  /* Highlight the selected column */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Table head and controls for the series list in study details */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Style the Next, Previous, and page numbers for paging */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Panel content for 'search' menu/panel */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Panel content for 'saved search' menu/panel */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* iframe contains documents being rendered */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Refine form elements */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Show icons for different document types in a list of documents */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Hide empty document page table until it refreshes with search results */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Override styles for jQuery auto-complete widget */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* New styles for file upload. To be refactored */
  /* ---------- ---------- ---------- */
  /* Drop target for dragging files from desktop */
  /* Format buttons */
  /* Uploads table */
  /* ---------- ---------- ---------- */
  /* New styles for 'move dicom' workflow. To be refactored */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* New styles for 'move document' search block. To be refactored */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /*  Styles for the CodeRay gem syntax highlighting */
  /* ---------- ---------- ---------- */
  /* Styles for showing the differences in requests/responses in event collector */
  /* For event collector main list to visually distinguish event outcomes */
  /* Formatting for events with the ignore property */
  /* Highlight for when showing the same patient id when clicked */
  /* Background colour for showing which patient ID was clicked */
  /* Hover for the main list of events in event collector */
  /* For making the date and milliseconds part of the time less noticeable,
   * more emphasis on the hours/minutes/seconds.
   */
  /* New styles for the event details pages to get them to have the
   * same improvements added to the main event collector list
   */
  /* For cursor change to indicate columns that can be used for highlight  */
  /* For the indenting in the Child Events table */ }
  .hitachi-light a {
    color: blue;
    background-color: transparent !important; }
  .hitachi-light a:hover {
    color: #6666ff;
    background-color: transparent !important; }
  .hitachi-light div.kh-branding {
    text-align: left;
    vertical-align: top;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 25px;
    margin: 0px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #f6f6f6 !important;
    background-image: url("../hitachi-light/images/hitachi-bar.png");
    background-position: 0px 0px !important;
    background-repeat: repeat-x;
    position: relative;
    z-index: 1000; }
  .hitachi-light div.kh-branding-logo {
    background-image: url("../hitachi-light/images/logo-hitachi-300.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 15px;
    height: 40px;
    width: 401px; }
  .hitachi-light div.kh-branding h1 {
    display: block;
    font-weight: normal;
    padding-top: 0px;
    vertical-align: bottom;
    font-size: 150%;
    color: #666666;
    position: absolute;
    bottom: 5px;
    left: 350px; }
  .hitachi-light #kh_nav_admin {
    float: right;
    clear: both;
    margin: 0px;
    text-align: right;
    padding: 0px;
    padding-top: 15px;
    padding-right: 5px;
    z-index: 10; }
  .hitachi-light #kh_nav_admin li iframe {
    margin-top: 10px; }
  .hitachi-light table.kh-user-admin th,
  .hitachi-light table.kh-user-admin td {
    padding: .5em;
    padding-left: .5em;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
    color: black; }
  .hitachi-light table.kh-user-admin th {
    padding-left: 0em;
    color: #666666; }
  .hitachi-light table.kh-user-admin tr:last-child th,
  .hitachi-light table.kh-user-admin tr:last-child td {
    border-bottom: none; }
  .hitachi-light #kh_nav_components {
    float: right;
    margin: 0px !important;
    text-align: left;
    padding: 0px !important;
    padding-top: 15px !important;
    z-index: 10; }
  .hitachi-light ul.kh-nav-products {
    float: right;
    margin: 0px;
    text-align: left;
    padding: 0px;
    z-index: 10; }
  .hitachi-light ul.kh-nav-products li {
    display: inline;
    list-style: none;
    padding-left: 5px;
    color: #666666; }
  .hitachi-light ul.kh-nav-products li {
    display: block;
    list-style: none;
    padding: 5px;
    color: #666666;
    border-bottom: 1px solid #eeeeee; }
  .hitachi-light ul.kh-nav-products li:first-child {
    padding-top: 1px; }
  .hitachi-light ul.kh-nav-products li:last-child {
    border-bottom: none; }
  .hitachi-light ul.kh-nav-products li a {
    color: blue; }
  .hitachi-light ul.kh-nav-products li a:hover {
    color: #6666ff; }
  .hitachi-light ul.kh-nav-products li.kh-nav-product-current a {
    font-weight: bold;
    color: black;
    text-decoration: none; }
  .hitachi-light ul.kh-nav-products li.kh-nav-product-current a:hover {
    color: black; }
  .hitachi-light #kh_action_main_navigation_reveal,
  .hitachi-light #kh_action_user_admin_reveal {
    border: none !important;
    background-image: none;
    background-color: transparent;
    font-weight: bold;
    color: #666666;
    padding-top: 0px; }
  .hitachi-light #kh_action_main_navigation_reveal span,
  .hitachi-light #kh_action_user_admin_reveal span {
    background-position: 100% 2px; }
  .hitachi-light div.kh-signout-box {
    background-color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: .85em;
    border-top-style: solid;
    border-top-width: 2px; }
  .hitachi-light div.kh-container-main {
    background-color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 2px 2px 2px #aaaaaa;
    -webkit-box-shadow: 2px 2px 2px #aaaaaa;
    -moz-box-shadow: 2px 2px 2px #aaaaaa;
    margin-right: 10px;
    margin-left: 0px;
    padding: 10px;
    min-height: 220px;
    overflow: auto;
    z-index: 0; }
  .hitachi-light div.kh-page-content {
    position: absolute;
    top: 80px;
    right: 0px;
    left: 10px;
    padding-left: 0px !important;
    min-height: 200px;
    z-index: 100;
    width: auto; }
  .hitachi-light div.kh-page-content form p strong {
    font-weight: bold; }
  .hitachi-light div.kh-page-tabless {
    left: 10px;
    padding-left: 0px !important;
    min-height: 200px;
    z-index: 100; }
  .hitachi-light div.kh-page-tabbed {
    left: 130px;
    padding-left: 0px !important;
    min-height: 200px;
    z-index: 100; }
  .hitachi-light div.kh-container-main > fieldset {
    background-color: white;
    padding-top: 0em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: 10px;
    margin-top: 0em; }
  .hitachi-light ol.kh-breadcrumb li {
    font-size: 100%;
    color: #666666;
    float: left;
    margin: 0px;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 0px;
    padding-right: 15px;
    background: transparent url("../rialto-light/images/nav-breadcrumb-arrow.gif") center right no-repeat; }
  .hitachi-light div.kh-page-head {
    display: block;
    margin-bottom: 10px; }
  .hitachi-light div.kh-page-head h2 {
    padding: 0px;
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 140%;
    color: #ff6633;
    clear: both;
    float: none !important;
    padding-bottom: 0px; }
  .hitachi-light div.kh-page-head h3 {
    padding: 0px;
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 120%;
    font-weight: bold;
    color: #999999;
    clear: both;
    float: none !important;
    padding-bottom: 0px; }
  .hitachi-light div.kh-page-head h3 span {
    color: black;
    font-weight: bold; }
  .hitachi-light div.kh-page-content-chunk {
    border-top: solid 1px #cccccc;
    padding-top: 1em; }
  .hitachi-light button,
  .hitachi-light input[type="submit"],
  .hitachi-light a.kh-link-button,
  .hitachi-light span.kh-span-button {
    border: solid 1px #666666 !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0px;
    padding: 2px;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 90%;
    color: black;
    text-decoration: none;
    cursor: pointer;
    /* fallback color */
    background-color: #dddddd;
    /* W3C */
    background: linear-gradient(top, white 100%, #dddddd 100%);
    /* Webkit */
    background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from(white), to(#dddddd));
    /* Mozilla */
    background-image: -moz-linear-gradient(top, white 0%, #dddddd 100%);
    /* IE10+ */
    background: -ms-linear-gradient(top, white 0%, #dddddd 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFDDDDDD',GradientType=0);
    zoom: 1; }
  .hitachi-light button:hover,
  .hitachi-light input[type="submit"]:hover,
  .hitachi-light a.kh-link-button:hover,
  .hitachi-light span.kh-span-button:hover {
    border: solid 1px #666666;
    background-color: white;
    /* fallback color */
    background-color: #eeeeee;
    /* W3C */
    background: linear-gradient(top, white 100%, #eeeeee 100%);
    /* Webkit */
    background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from(white), to(#eeeeee));
    /* Mozilla */
    background-image: -moz-linear-gradient(top, white 0%, #eeeeee 100%);
    /* IE10+ */
    background: -ms-linear-gradient(top, white 0%, #eeeeee 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE',GradientType=0);
    zoom: 1; }
  .hitachi-light input[type="submit"]:hover:disabled,
  .hitachi-light input[type="submit"]:disabled,
  .hitachi-light button:disabled,
  .hitachi-light button:hover:disabled {
    background: #eeeeee;
    border-color: #aaaaaa;
    color: #aaaaaa;
    cursor: default; }
  .hitachi-light div.kh-actions-area {
    clear: both;
    padding: .5em;
    padding-left: 0px;
    border-top: solid white 1px; }
  .hitachi-light div.kh-actions-area ol {
    padding: 0px;
    margin: 0px;
    overflow: hidden; }
  .hitachi-light div.kh-actions-area li {
    list-style: none;
    float: left;
    margin-right: 2px; }
  .hitachi-light a.kh-button-link,
  .hitachi-light input.kh-button-link,
  .hitachi-light button.kh-button-link {
    background-color: transparent;
    border: none !important;
    color: #666666;
    text-decoration: underline;
    background-image: none;
    padding: 0px;
    margin: 0px; }
  .hitachi-light a.kh-button-link:hover,
  .hitachi-light input.kh-button-link:hover,
  .hitachi-light button.kh-button-link:hover {
    color: #6666ff;
    border: none;
    background-color: transparent;
    background-image: none; }
  .hitachi-light input.kh-button-link[type="submit"]:disabled {
    background: none;
    border: none;
    color: #aaaaaa; }
  .hitachi-light ol.kh-action-button-set {
    /* clearfix hack to contain floated 'li' elements contained in 'ol' */
    content: "";
    display: table;
    clear: both; }
  .hitachi-light ol.kh-action-button-set-head {
    /*border-bottom: solid 1px $border-color-contrast-high;*/
    /*margin-bottom: 1em;*/
    padding-top: 0em;
    padding-bottom: 1em; }
  .hitachi-light ol.kh-action-button-set-foot {
    border-top: solid 1px #666666;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em; }
  .hitachi-light ol.kh-action-button-set-confirm {
    border-top: solid 1px #eeeeee;
    margin-top: 0em;
    padding-top: .5em;
    padding-bottom: 0em; }
  .hitachi-light ol.kh-action-button-set li {
    margin-right: .5em !important;
    display: block;
    float: left; }
  .hitachi-light ol.kh-action-button-set li button,
  .hitachi-light ol.kh-action-button-set li input[type="submit"],
  .hitachi-light ol.kh-action-button-set li a.kh-link-button {
    margin: 0px !important;
    display: block; }
  .hitachi-light ol.kh-action-button-set li button.kh-button-refresh {
    /*margin-right: .5em !important;*/ }
  .hitachi-light ol.kh-action-button-set li button.kh-action-menu span,
  .hitachi-light ul.kh-action-button-set li button.kh-action-menu span {
    background-image: url("../rialto-light/images/nav-arrow-down.gif") !important;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0px;
    padding-right: 14px;
    padding-left: 0px; }
  .hitachi-light ol.kh-action-button-set form.kh-form-one-button {
    /*display: inline;*/
    display: inline; }
  .hitachi-light form {
    border: none !important; }
  .hitachi-light input[type="text"],
  .hitachi-light input[type="password"],
  .hitachi-light textarea {
    border: solid 1px #eeeeee;
    background-color: #ffffee;
    color: black; }
  .hitachi-light input[type="text"]:disabled,
  .hitachi-light input[type="password"]:disabled,
  .hitachi-light textarea:disabled {
    border: none;
    color: #aaaaaa;
    background-color: transparent; }
  .hitachi-light input[type="text"]:focus,
  .hitachi-light input[type="password"]:focus,
  .hitachi-light textarea:focus {
    border: solid 1px #bbbbbb;
    background-color: #ffffbb; }
  .hitachi-light textarea {
    resize: vertical; }
  .hitachi-light th.kh-form-required:after {
    content: " * ";
    color: black; }
  .hitachi-light ul.kh-main-navigation {
    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    width: 130px;
    z-index: 10; }
  .hitachi-light ul.kh-main-navigation li {
    position: relative;
    background-color: #f0f0f0;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: solid 2px white;
    border-right: none;
    color: black;
    list-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 1px 1px 2px #aaaaaa;
    -webkit-box-shadow: 1px 1px 2px #aaaaaa;
    -moz-box-shadow: 1px 1px 2px #aaaaaa; }
  .hitachi-light ul.kh-main-navigation li:first-child {
    margin-top: 10px; }
  .hitachi-light ul.kh-main-navigation li.currentTab {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px #aaaaaa;
    -webkit-box-shadow: 2px 2px 2px #aaaaaa;
    -moz-box-shadow: 2px 2px 2px #aaaaaa; }
  .hitachi-light ul.kh-main-navigation li a {
    text-decoration: none;
    color: black; }
  .hitachi-light ul.kh-main-navigation li.currentTab a {
    color: black; }
  .hitachi-light ol.kh-secondary-navigation {
    border-bottom: 3px solid #666666;
    z-index: 10 !important;
    margin-bottom: 6px;
    zoom: 1; }
  .hitachi-light ol.kh-secondary-navigation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .hitachi-light ol.kh-secondary-navigation li {
    border: 1px solid #666666;
    border-bottom: none;
    float: left;
    display: inline;
    padding: 5px !important;
    padding-bottom: 2px !important;
    margin-left: 5px !important;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    background-color: #f8f8f8;
    cursor: pointer; }
  .hitachi-light ol.kh-secondary-navigation li.kh-current {
    color: black;
    background-color: #666666;
    border-color: #333333;
    cursor: default;
    /*
    box-shadow: 2px 2px 2px #aaa; 
    -webkit-box-shadow: 2px 2px 2px #aaa; 
    -moz-box-shadow: 2px 2px 2px #aaa; 
    */ }
  .hitachi-light ol.kh-secondary-navigation li a {
    color: black;
    text-decoration: none; }
  .hitachi-light ol.kh-secondary-navigation li.kh-current,
  .hitachi-light ol.kh-secondary-navigation li.kh-current a {
    color: white;
    text-decoration: none; }
  .hitachi-light ol.kh-secondary-navigation li.kh-disabled,
  .hitachi-light ol.kh-secondary-navigation li.kh-disabled a {
    color: #aaaaaa;
    border-color: #cccccc;
    text-decoration: none;
    cursor: default; }
  .hitachi-light ol.kh-secondary-navigation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1; }
  .hitachi-light div.kh-tab-content {
    clear: both;
    z-index: 100 !important; }
  .hitachi-light div.kh-error-message h1 {
    font-weight: bold;
    padding-bottom: 1em;
    clear: both; }
  .hitachi-light div.kh-error-message h2 {
    font-weight: normal;
    padding-bottom: 1em;
    clear: both; }
  .hitachi-light div.kh-error-message h4 {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block; }
  .hitachi-light div.kh-error-message div.kh-error-debug p {
    padding-bottom: 5px;
    padding-left: 15px;
    display: block; }
  .hitachi-light h5.kh-toggle-error-details {
    cursor: pointer;
    font-weight: bold;
    background-image: url("../rialto-light/images/nav-arrow-right.gif");
    background-repeat: no-repeat;
    background-position: 3px 0px;
    padding-left: 15px; }
  .hitachi-light h5.kh-is-open {
    background-image: url("../rialto-light/images/nav-arrow-down.gif") !important;
    background-position: 0 0;
    padding-left: 15px; }
  .hitachi-light div.kh-warning-message {
    color: black;
    /*background-color: #ffffbb;
    border: solid;
    border-color: #D80000;
    border-width: 1px;
    border-radius: 4px;*/
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: .5em;
    padding-right: .75em;
    padding-left: 0em; }
  .hitachi-light div.kh-warning-message strong {
    color: #d80000; }
  .hitachi-light div.kh-move-patient {
    float: left;
    padding: 10px;
    margin-right: 10px;
    border: #cccccc solid 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-light div.kh-move-patient h2 {
    font-weight: bold;
    font-size: 150%; }
  .hitachi-light div.kh-move-patient h3 {
    font-weight: bold;
    font-size: 150%; }
  .hitachi-light div.kh-container-move-document {
    /*width:800px;*/ }
  .hitachi-light div.kh-move-document-confirm {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    border: #cccccc solid 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-light div.kh-list-confirm-detached-documents {
    padding: 5px;
    margin: 5px;
    border-top: #f7f7f7 solid 2px;
    border-bottom: #f7f7f7 solid 2px; }
  .hitachi-light div.kh-message-alert {
    clear: both;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: red solid 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-light div.kh-message-alert p {
    color: red;
    font-weight: bold; }
  .hitachi-light div.kh-message-notification {
    color: black;
    clear: both;
    font-size: 98%;
    padding: 6px;
    margin-bottom: 6px;
    border: #dedede solid 1px;
    background-color: #fffef2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-light div.kh-message-instruction {
    color: black;
    clear: both;
    font-weight: bold;
    font-size: 98%;
    padding: 6px;
    margin-bottom: 6px;
    background-color: #f6f6f6;
    color: black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-light div.kh-login-content {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px; }
  .hitachi-light div.kh-container-login {
    background-color: white;
    background-image: url("../hitachi-light/images/logo-hitachi-400.png");
    background-repeat: no-repeat;
    background-position: 10px 20px;
    border: 1px solid #666666;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 2px 2px 2px #aaaaaa;
    -webkit-box-shadow: 2px 2px 2px #aaaaaa;
    -moz-box-shadow: 2px 2px 2px #aaaaaa;
    margin-right: 10px;
    margin-left: 0px;
    padding: 30px 0px 30px 20px;
    padding-top: 100px !important;
    overflow: auto; }
  .hitachi-light div.kh-login-block {
    border: 0;
    background-color: white;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px; }
  .hitachi-light div.kh-login-block form {
    padding: 0px;
    margin: 0px; }
  .hitachi-light div.kh-login-block li,
  .hitachi-light div.kh-search-container li {
    /* float:left;*/
    display: block;
    padding-bottom: 2px;
    line-height: 200%; }
  .hitachi-light div.kh-login-block li label {
    display: block;
    width: 7em;
    float: left;
    clear: both !important;
    padding-left: 0em; }
  .hitachi-light div.kh-login-block li input {
    /*width: 10em;*/ }
  .hitachi-light div.kh-login-block li.kh-action-button {
    padding-left: 7em;
    margin-top: .5em; }
  .hitachi-light div.kh-container-login h2 {
    padding-left: 5.5em;
    /*text-align: center;*/
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 140%;
    color: #ff6633;
    clear: both;
    float: none !important; }
  .hitachi-light div.kh-sign-in-error {
    padding-left: 7.75em;
    margin-right: 7em;
    color: red; }
  .hitachi-light div.kh-login-block input[type="password"],
  .hitachi-light textarea {
    border: solid 1px #eeeeee;
    background-color: #ffffee; }
  .hitachi-light div.kh-login-block input[type="password"]:focus,
  .hitachi-light textarea:focus {
    border: solid 1px #bbbbbb;
    background-color: #ffffbb; }
  .hitachi-light div.kh-search-container {
    border: 1px solid #666666;
    padding: 30px 0px;
    overflow: auto;
    min-height: 100px; }
  .hitachi-light div.kh-search-content {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    clear: both; }
  .hitachi-light ol.kh-search-area li label {
    display: block;
    width: 7em;
    float: left;
    clear: both !important;
    padding-left: 7em; }
  .hitachi-light ol.kh-search-area li.kh-action-button {
    padding-left: 14em;
    margin-top: .5em; }
  .hitachi-light h2.search-heading {
    padding-left: 10em;
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 140%;
    color: #ff6633;
    clear: both;
    float: none !important; }
  .hitachi-light .kh-search-error {
    padding-left: 14em;
    padding-right: 5em;
    color: red; }
  .hitachi-light div.kh-search-container div.kh-search-block {
    border: 0; }
  .hitachi-light div.kh-rich-menu-content {
    border: solid #666666 1px;
    background-color: white;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px; }
  .hitachi-light div.kh-rich-menu-content form {
    padding: 0px;
    margin: 0px; }
  .hitachi-light div.kh-rich-menu-content div > a {
    color: blue !important;
    text-decoration: underline !important; }
  .hitachi-light table.kh-list-standard div.kh-rich-menu-content-js {
    margin-left: 5px; }
  .hitachi-light button.kh-button-trigger {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-left: 5px; }
  .hitachi-light button.kh-button-trigger span {
    margin: 0px;
    padding: 0px;
    padding-top: 20px 0 0 0;
    padding-left: 30px;
    overflow: hidden;
    background-image: url("../rialto-light/images/nav-arrow-down.gif") !important;
    background-repeat: no-repeat;
    color: transparent !important;
    background-position: 3px 2px;
    /*background-color: green;*/
    height: 0px !important;
    /* for most browsers */
    height: 35px;
    /* for IE5.5's bad box model */ }
  .hitachi-light div.kh-rich-menu-content-js {
    position: absolute;
    top: 74px;
    left: 132px;
    z-index: 1100;
    box-shadow: 1px 1px 2px #aaaaaa;
    -webkit-box-shadow: 1px 1px 2px #aaaaaa;
    -moz-box-shadow: 1px 1px 2px #aaaaaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-light #kh_panel_fix_iframe {
    position: absolute;
    border: none;
    background-color: red;
    background-color: transparent;
    border: #f6f6f6 solid 1px !important;
    border: transparent solid 1px !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-light div.kh-hide,
  .hitachi-light iframe.kh-hide {
    display: none; }
  .hitachi-light div.kh-show {
    display: block; }
  .hitachi-light div.kh-nowrap {
    white-space: nowrap !important; }
  .hitachi-light div.kh-progress-indicator img {
    background-image: url("../rialto-light/images/progress-spinner.gif") !important;
    width: 32px;
    /* width of icon for screen */
    height: 0;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 0px;
    padding-top: 32px;
    /* height of icon for screen */
    margin-right: 10px;
    overflow: hidden;
    border: none;
    display: block;
    float: left; }
  .hitachi-light div.kh-progress-indicator p {
    padding-top: 10px;
    margin-left: 42px; }
  .hitachi-light div.kh-copyright p {
    margin-top: 10px;
    text-align: center !important;
    color: #bbbbbb; }
  .hitachi-light div.kh-product-info p {
    padding-top: 10px;
    padding-bottom: 10px; }
  .hitachi-light div.kh-product-info strong {
    font-weight: bold; }
  .hitachi-light div.kh-action-confirm {
    border: 1px solid #dedede !important;
    padding: .75em;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #fffef2; }
  .hitachi-light div.kh-action-confirm p {
    padding-bottom: .5em; }
  .hitachi-light div.kh-action-confirm-with-input {
    background-color: #fffffd; }
  .hitachi-light div.kh-confirm-block {
    border: solid #999999 1px;
    background-color: white;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px; }
  .hitachi-light div.kh-menu-panel-content a.kh-reveal-saved-search-settings-link {
    padding-top: 10px;
    color: #aaaaaa !important;
    display: block;
    text-decoration: underline !important; }
  .hitachi-light div.kh-list-standard ul {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    clear: both; }
  .hitachi-light div.kh-list-standard ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #666666; }
  .hitachi-light div.kh-list-standard ul li button {
    margin: 0px;
    margin-right: 2px;
    /*margin-left: .5em;*/
    padding: .25em;
    color: black;
    font-size: 90%; }
  .hitachi-light div.kh-list-standard ul li button.kh-action-menu span {
    background-image: url("../rialto-light/images/nav-arrow-down.gif") !important;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0px;
    padding-right: 14px;
    padding-left: 0px; }
  .hitachi-light div.kh-list-standard ul li input {
    margin-right: .25em; }
  .hitachi-light table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th,
  .hitachi-light table.kh-list-standard-edit-prefs.dataTable tr.kh-list-head-prefs th,
  .hitachi-light table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th.kh-list-standard-sort {
    background-image: url("../rialto-light/images/table-texture-vertical-lines.gif") !important;
    /*background-color: $table-dt-head-draggable-color !important;*/
    background-repeat: repeat;
    cursor: move;
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px; }
  .hitachi-light table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th:hover,
  .hitachi-light table.kh-list-standard-edit-prefs.dataTable tr.kh-list-head-prefs th:hover,
  .hitachi-light table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th.kh-list-standard-sort:hover {
    text-decoration: none !important;
    background-image: url("../rialto-light/images/table-texture-vertical-lines.gif") !important;
    background-color: #eeeeee !important;
    background-repeat: repeat;
    cursor: move; }
  .hitachi-light table.kh-list-standard-edit-prefs td {
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px;
    vertical-align: middle; }
  .hitachi-light ol.kh-filter-settings {
    /*line-height: 170%;*/
    min-width: 500px;
    color: #666666; }
  .hitachi-light ol.kh-filter-settings-tabset {
    padding-bottom: 10px; }
  .hitachi-light ol.kh-filter-settings li {
    display: inline;
    white-space: nowrap; }
  .hitachi-light ol.kh-filter-settings li strong {
    font-weight: bold;
    color: black; }
  .hitachi-light div.kh-list-standard table.kh-list-standard {
    background-color: white;
    /*width:100%;*/
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: solid #eeeeee 1px;
    border-bottom: solid #eeeeee 1px;
    clear: both; }
  .hitachi-light div.kh-list-standard table.kh-list-standard th {
    border-color: #dddddd;
    border-right: none;
    border-left: none;
    border-bottom: solid #eeeeee 1px;
    color: #666666;
    text-align: left;
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px;
    cursor: default;
    background-image: none !important;
    text-decoration: none; }
  .hitachi-light div.kh-list-standard table.kh-list-standard td {
    border-color: #dddddd;
    border-right: none;
    border-left: none;
    color: black;
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px;
    vertical-align: middle; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tbody tr:hover {
    /*background-color: #ffffee;*/ }
  .hitachi-light table.kh-list-standard tr.kh-list-standard-empty {
    text-align: center; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.odd-child td.kh-doctype,
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.even-child td.kh-doctype {
    padding-left: 50px; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.odd td,
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.odd-child td {
    background-color: #fafafa; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.even td,
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.even-child td {
    background-color: white; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.odd td.sorting_1 {
    background-color: #f2f2f2;
    border-color: #cccccc; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr.even td.sorting_1 {
    background-color: #f9f9f9;
    border-color: #cccccc; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr td strong {
    font-weight: bold; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr th {
    cursor: pointer;
    background-image: url("../rialto-light/images/table-sort-both.png") !important;
    background-repeat: no-repeat;
    background-position: left center; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr th.sorting_disabled {
    cursor: default;
    background-image: none !important; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr th.sorting_asc {
    background-image: url("../rialto-light/images/table-sort-asc") !important;
    background-repeat: no-repeat;
    background-position: left center; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr th.sorting_desc {
    background-image: url("../rialto-light/images/table-sort-desc.png") !important;
    background-repeat: no-repeat;
    background-position: left center; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr th:hover {
    text-decoration: underline; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr th.sorting_disabled:hover {
    text-decoration: none; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr th {
    padding-left: 16px !important; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr td a {
    color: blue; }
  .hitachi-light div.kh-list-standard table.kh-list-standard tr td a:hover {
    color: #6666ff; }
  .hitachi-light table.kh-list-standard tr.odd:hover td,
  .hitachi-light table.kh-list-standard tr.odd-child:hover td,
  .hitachi-light table.kh-list-standard tr.odd:hover td.kh-table-column-selected {
    background-color: #fbf4cb !important; }
  .hitachi-light table.kh-list-standard tr.even:hover td,
  .hitachi-light table.kh-list-standard tr.even-child:hover td,
  .hitachi-light table.kh-list-standard tr.even:hover td.kh-table-column-selected {
    background-color: #fff8cf !important; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.odd td.sorting_1 {
    background-color: #f2f2f2;
    border-color: #cccccc; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.even td.sorting_1 {
    background-color: #f9f9f9;
    border-color: #cccccc; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.kh-selected-odd td {
    background-color: #fff882; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.kh-selected-even td {
    background-color: #fffbb9; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.kh-selected-odd td.sorting_1 {
    background-color: #f7f181; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.kh-selected-even td.sorting_1 {
    background-color: #f7f3b5; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.odd:hover td,
  .hitachi-light div.dataTables_wrapper table.dataTable tr.odd-child:hover td,
  .hitachi-light div.dataTables_wrapper table.dataTable tr.odd:hover td.kh-table-column-selected {
    background-color: #fbf4cb; }
  .hitachi-light div.dataTables_wrapper table.dataTable tr.even:hover td,
  .hitachi-light div.dataTables_wrapper table.dataTable tr.even-child:hover td,
  .hitachi-light div.dataTables_wrapper table.dataTable tr.even:hover td.kh-table-column-selected {
    background-color: #fff8cf; }
  .hitachi-light table.kh-list-standard-edit-prefs tr.odd td.kh-table-column-selected {
    background-color: #f1e8c1 !important; }
  .hitachi-light table.kh-list-standard-edit-prefs tr.even td.kh-table-column-selected {
    background-color: #fbf1cb !important; }
  .hitachi-light div.dataTables_info {
    display: none; }
  .hitachi-light div.dataTables_length-x {
    display: none; }
  .hitachi-light div.dataTables_filter-x {
    display: none; }
  .hitachi-light div.dataTables_wrapper th.sorting,
  .hitachi-light div.dataTables_wrapper th.sorting_asc,
  .hitachi-light div.dataTables_wrapper th.sorting_desc {
    padding-right: 20px; }
  .hitachi-light .dataTables_wrapper {
    position: static; }
  .hitachi-light table.kh-list-studies tr.kh-selected-odd td {
    background-color: #fff882; }
  .hitachi-light table.kh-list-studies tr.kh-selected-even td {
    background-color: #fffbb9; }
  .hitachi-light table.kh-list-studies tr.kh-selected-odd:hover td,
  .hitachi-light table.kh-list-studies tr.kh-selected-even:hover td {
    background-color: yellow !important; }
  .hitachi-light table.kh-list-studies h4 {
    font-weight: bold; }
  .hitachi-light table.kh-list-studies p {
    padding-bottom: 6px; }
  .hitachi-light table.kh-list-studies td {
    border-top: 1px solid #eeeeee; }
  .hitachi-light table.kh-list-studies {
    border-bottom: 1px solid #eeeeee; }
  .hitachi-light table.kh-list-studies th {
    border-top: 1px solid #eeeeee;
    padding-top: 2px;
    padding-bottom: 2px; }
  .hitachi-light table.kh-list-studies th h3 {
    font-weight: bold; }
  .hitachi-light ol.kh-paging-nav {
    margin-top: 15px;
    margin-right: 20px !important;
    display: block; }
  .hitachi-light ol.kh-paging-nav li {
    float: left;
    padding: 0px 5px;
    margin-bottom: 5px;
    margin-top: 5px; }
  .hitachi-light ol.kh-paging-nav li.kh-paging-previous a {
    background-image: url("../rialto-light/images/nav-arrow-left.gif") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px !important; }
  .hitachi-light ol.kh-paging-nav li.kh-paging-previous-disabled,
  .hitachi-light ol.kh-paging-nav span.kh-paging-previous-disabled {
    color: #919191;
    background-image: url("../rialto-light/images/nav-arrow-left-disabled.gif") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px !important; }
  .hitachi-light ol.kh-paging-nav li.kh-paging-next a {
    background-image: url("../rialto-light/images/nav-arrow-right.gif") !important;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px !important; }
  .hitachi-light ol.kh-paging-nav li.kh-paging-next-disabled,
  .hitachi-light ol.kh-paging-nav span.kh-paging-next-disabled {
    color: #919191;
    background-image: url("../rialto-light/images/nav-arrow-right-disabled.gif") !important;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px !important; }
  .hitachi-light ol.kh-paging-nav a {
    color: blue; }
  .hitachi-light ol.kh-paging-nav a:hover,
  .hitachi-light ol.kh-paging-nav li a:hover {
    color: #6666ff; }
  .hitachi-light ol.kh-paging-nav li {
    display: inline;
    list-style: none; }
  .hitachi-light ol.kh-paging-nav li.paging-middle {
    padding: 0px 5px;
    margin-top: 5px; }
  .hitachi-light table.kh-table-search {
    border: none !important;
    margin: 0px;
    padding: 0px; }
  .hitachi-light table.kh-table-search tr th {
    background-image: none !important;
    padding: 3px;
    padding-right: 6px !important;
    padding-left: 0px !important;
    color: #666666; }
  .hitachi-light table.kh-table-search tr td {
    padding: 3px;
    padding-right: 5px;
    padding-bottom: 5px !important; }
  .hitachi-light table.kh-table-search tr.kh-table-search-advanced th {
    border-bottom: 1px solid #eeeeee;
    color: black; }
  .hitachi-light table.kh-table-search tr a {
    color: blue !important;
    text-decoration: underline !important; }
  .hitachi-light table.kh-table-search tr th:hover {
    text-decoration: none; }
  .hitachi-light table.kh-table-search tr.kh-table-search-section th {
    font-weight: bold;
    color: black;
    border-top: solid #eeeeee 1px !important;
    border-bottom: solid #eeeeee 1px !important; }
  .hitachi-light table.kh-table-search tr.kh-table-search-buttons th,
  .hitachi-light table.kh-table-search tr.kh-table-search-buttons td {
    border-top: 1px solid #eeeeee;
    padding-top: 5px; }
  .hitachi-light table.kh-table-search th em,
  .hitachi-light table.kh-table-search td em {
    font-style: italic; }
  .hitachi-light table.kh-table-search div.kh-ajax-progress {
    border: none;
    padding: 0px;
    margin: 0px;
    height: 32px;
    width: 32px;
    margin: 5px; }
  .hitachi-light table.kh-table-search tr.kh-search-disabled {
    display: none; }
  .hitachi-light table.kh-table-search tr.kh-search-disabled th,
  .hitachi-light table.kh-table-search tr.kh-search-disabled td {
    color: #aaaaaa !important; }
  .hitachi-light table.kh-table-search tr.kh-search-disabled td input {
    border: solid 1px #eeeeee;
    background-color: #fdfdfd; }
  .hitachi-light table.kh-table-search-saved {
    border: none !important;
    margin: 0px;
    padding: 0px; }
  .hitachi-light table.kh-table-search-saved tr th {
    border: none !important;
    background-image: none !important;
    padding: 3px;
    padding-left: 0px !important;
    color: #666666; }
  .hitachi-light table.kh-table-search-saved td {
    background-color: white !important;
    padding: 3px;
    padding-right: 6px;
    border-bottom: solid 1px #eeeeee; }
  .hitachi-light table.kh-table-search-saved tr td.kh-saved-search-name a {
    color: blue !important;
    text-decoration: underline !important; }
  .hitachi-light table.kh-table-search-saved tr.kh-table-search-section th {
    font-weight: bold;
    color: black;
    border-top: solid #eeeeee 1px !important;
    border-bottom: solid #eeeeee 1px !important; }
  .hitachi-light table.kh-table-nvp {
    text-align: left;
    font-weight: normal;
    color: black;
    border-top: solid 1pt #eeeeee !important;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px; }
  .hitachi-light table.kh-table-nvp th {
    padding-left: 5px  !important;
    text-align: left;
    font-weight: normal;
    color: #666666; }
  .hitachi-light table.kh-table-nvp th h3 {
    font-weight: bold;
    color: black;
    font-size: 100% !important; }
  .hitachi-light table.kh-table-nvp th h4 {
    font-weight: bold;
    font-style: italic;
    color: #666666;
    font-size: 100% !important; }
  .hitachi-light table.kh-table-nvp td {
    color: black; }
  .hitachi-light table.kh-table-nvp th,
  .hitachi-light table.kh-table-nvp td {
    border-bottom: solid 1pt #eeeeee !important;
    padding: 2px;
    padding-right: 10px;
    padding-left: 0px;
    margin: 0px; }
  .hitachi-light table.kh-table-nvp tr.kh-form-error th {
    border-left: 3px solid red;
    color: red !important; }
  .hitachi-light table.kh-table-nvp tr.kh-error th,
  .hitachi-light table.kh-table-nvp tr.kh-error td {
    color: red !important; }
  .hitachi-light table.kh-table-nvp input[type='radio'] {
    margin-right: 3px; }
  .hitachi-light table.kh-table-nvp tr.kh-form-required th:after {
    content: " * ";
    color: #666666; }
  .hitachi-light table.kh-table-nvp tr.kh-form-required th:after {
    content: " * ";
    color: #666666; }
  .hitachi-light table.kh-table-nvp th.kh-form-required {
    color: #666666; }
  .hitachi-light table.kh-table-nvp th.kh-form-required:before {
    content: " * ";
    color: #666666; }
  .hitachi-light table.kh-table-nvp th.kh-form-required:after {
    content: none; }
  .hitachi-light table.kh-table-nvp tr.kh-form-submit-area th,
  .hitachi-light table.kh-table-nvp tr.kh-form-submit-area td {
    padding-top: 10px  !important;
    border-top: 2px solid #999999  !important;
    border-bottom: none  !important; }
  .hitachi-light div.ui-datepicker {
    box-shadow: 3px 3px 5px #aaaaaa; }
  .hitachi-light div.kh-validation-error p {
    color: red;
    margin-bottom: 10px; }
  .hitachi-light table.kh-table-nvp-js tr th {
    padding-left: 20px !important; }
  .hitachi-light table.kh-table-nvp-js tr.kh-nvp-section th {
    padding-left: 0px !important; }
  .hitachi-light table.kh-table-nvp-js tr.kh-nvp-section th h3 {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    background-image: url("../rialto-light/images/nav-arrow-down.gif");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 15px; }
  .hitachi-light table.kh-table-nvp-js tr.kh-nvp-section:hover th h3 {
    text-decoration: underline; }
  .hitachi-light table.kh-table-nvp-js tr.kh-nvp-section th h3.kh-nvp-section-hidden {
    background-image: url("../rialto-light/images/nav-arrow-right.gif") !important; }
  .hitachi-light div.kh-contains-iframe {
    position: absolute;
    top: 55px !important;
    right: 0px !important;
    bottom: 10px !important;
    left: 10px !important;
    z-index: 0 !important; }
  .hitachi-light div.kh-contains-iframe div.kh-container-main {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 10px !important;
    left: 0px; }
  .hitachi-light #kh_document_iframe_wrapper {
    position: absolute;
    top: 7.5em !important;
    right: 10px;
    bottom: 10px !important;
    left: 10px; }
  .hitachi-light #kh_document_iframe_wrapper iframe {
    margin-top: 0px;
    border: solid 1px #dddddd;
    /*position:relative;*/
    width: 100%;
    height: 100%; }
  .hitachi-light div.kh-container-main iframe {
    margin-top: 10px;
    border: solid 1px #dddddd;
    height: 700px; }
  .hitachi-light ol.kh-radio-list {
    padding-left: 10px; }
  .hitachi-light ol.kh-radio-list li {
    padding-bottom: 5px; }
  .hitachi-light ol.kh-radio-list li label {
    padding-right: 5px;
    padding-left: 5px; }
  .hitachi-light label.kh-form-label-input-text {
    display: none; }
  .hitachi-light fieldset.kh-fieldset-radio-group {
    margin-top: 10px; }
  .hitachi-light fieldset.kh-fieldset-radio-group legend {
    color: black; }
  .hitachi-light td.kh-doctype p {
    white-space: nowrap; }
  .hitachi-light td.kh-doctype a {
    margin-top: 7px !important;
    margin-left: 2px;
    display: block;
    float: left; }
  .hitachi-light td.kh-doctype button {
    margin-top: 5px !important;
    display: block;
    float: right; }
  .hitachi-light td.kh-doctype-jpg img,
  .hitachi-light td.kh-doctype-dcm img,
  .hitachi-light td.kh-doctype-pdf img,
  .hitachi-light td.kh-doctype-cda img,
  .hitachi-light td.kh-doctype-folder img,
  .hitachi-light td.kh-doctype-vid img,
  .hitachi-light td.kh-doctype-unknown img {
    background-image: url("../rialto-light/images/icon-doctype-unknown.gif") !important;
    width: 32px;
    /* width of icon for screen */
    height: 0;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 0px;
    padding-top: 32px;
    /* height of icon for screen */
    overflow: hidden;
    border: none;
    display: block;
    float: left; }
  .hitachi-light td.kh-doctype-jpg img {
    background-image: url("../rialto-light/images/icon-doctype-jpg.gif") !important; }
  .hitachi-light td.kh-doctype-dcm img {
    background-image: url("../rialto-light/images/icon-doctype-dcm.gif") !important; }
  .hitachi-light td.kh-doctype-pdf img {
    background-image: url("../rialto-light/images/icon-doctype-pdf.gif") !important; }
  .hitachi-light td.kh-doctype-cda img {
    background-image: url("../rialto-light/images/icon-doctype-cda.gif") !important; }
  .hitachi-light td.kh-doctype-vid img {
    background-image: url("../rialto-light/images/icon-doctype-vid.gif") !important; }
  .hitachi-light td.kh-doctype-folder img {
    background-image: url("../rialto-light/images/icon-doctype-folder.png") !important; }
  .hitachi-light td.kh-doctype-folder a,
  .hitachi-light td.kh-doctype-folder a:hover {
    font-weight: bold;
    color: black !important;
    text-decoration: none;
    cursor: default; }
  .hitachi-light tbody.kh-hide-table-body {
    display: none; }
  .hitachi-light .ui-menu .ui-menu-item {
    color: blue;
    background-color: white;
    border: none;
    cursor: pointer; }
  .hitachi-light .ui-menu .ui-menu-item a.ui-corner-all {
    color: blue;
    background-color: white;
    background-image: none;
    border: none;
    border-radius: 0px;
    margin: 0px; }
  .hitachi-light .ui-menu .ui-menu-item a.ui-state-focus,
  .hitachi-light .ui-menu .ui-menu-item a.ui-state-hover,
  .hitachi-light .ui-menu .ui-menu-item a.ui-state-active {
    background-color: #f6f6f6 !important;
    background-image: none;
    border: none;
    margin: 0px;
    text-decoration: underline; }
  .hitachi-light table.kh-upload-files {
    clear: both; }
  .hitachi-light table.table-striped tr.kh-upload-file-row > td,
  .hitachi-light table.table-striped tr.kh-download-file-row > td {
    border-top: 1px solid #eeeeee; }
  .hitachi-light table.table-striped tr.kh-upload-file-row td.kh-next-metadata,
  .hitachi-light table.table-striped tr.kh-download-file-row td.kh-next-metadata {
    border: none !important; }
  .hitachi-light table.table-striped tr.kh-upload-file-row button {
    display: inline;
    margin-right: 10px !important; }
  .hitachi-light table.kh-upload-metadata {
    margin-top: 10px !important;
    margin-bottom: 20px !important; }
  .hitachi-light table.kh-upload-metadata th,
  .hitachi-light table.kh-upload-metadata td {
    padding: 2px !important;
    font-weight: normal;
    text-align: left;
    border-top: none !important; }
  .hitachi-light div.kh-drop-target {
    /*border: 1px solid $upload-target-border;*/
    padding: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center; }
  .hitachi-light div.kh-drop-target-hover {
    border: 3px solid #ff6633;
    padding: 7px;
    /* 10px minus border width */ }
  .hitachi-light div.kh-drop-target h3 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    color: #ff6633; }
  .hitachi-light div.kh-drop-target p {
    text-align: center;
    font-size: 120%;
    padding: 12px;
    color: #ff6633; }
  .hitachi-light td.kh-file-name,
  .hitachi-light td.kh-file-size,
  .hitachi-light td.kh-file-status,
  .hitachi-light td.kh-file-error,
  .hitachi-light td.kh-file-status-progress,
  .hitachi-light td.kh-file-status-complete,
  .hitachi-light td.kh-file-status-error {
    font-weight: bold;
    vertical-align: middle; }
  .hitachi-light td.kh-file-size {
    color: #666666;
    font-weight: normal; }
  .hitachi-light td.kh-file-status-progress span.kh-status-progress-span,
  .hitachi-light td.kh-file-status-complete span,
  .hitachi-light td.kh-file-status-error span {
    font-weight: bold;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 30px;
    background: url("../rialto-light/images/icon-status-ok-new.png") no-repeat !important;
    height: 24px;
    vertical-align: middle !important;
    display: block; }
  .hitachi-light td.kh-file-status-progress span.kh-status-progress-span {
    background: url("../rialto-light/images/activity-indicator.gif") no-repeat !important;
    float: left; }
  .hitachi-light td.kh-file-status-error span {
    color: red;
    background: url("../rialto-light/images/icon-status-error-new.png") no-repeat !important; }
  .hitachi-light td.kh-file-error {
    color: red; }
  .hitachi-light div.kh-file-progress {
    float: left;
    display: block;
    margin-top: 4px; }
  .hitachi-light button.kh-file-upload-button {
    margin-left: 10px !important; }
  .hitachi-light #kh_button_upload_container_inner {
    display: block;
    margin-top: 0px !important;
    margin-right: auto !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    /* background-color:blue; */
    text-align: center !important;
    float: none !important;
    width: 15em; }
  .hitachi-light #kh_button_upload_add span {
    display: inline; }
  .hitachi-light #kh_button_upload_add {
    display: block;
    margin-top: 0px !important;
    margin-right: auto !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    /* background-color:orange; */
    text-align: center !important;
    float: none !important;
    /*padding-top: 4px !important;
    padding-bottom: 4px !important;
    border: solid 1px $border-color-contrast-low;

    margin: 0px !important;
    
    height: 20px;
    
    background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from($upload-button-color-from), to($upload-button-color-to));*/ }
  .hitachi-light #kh_button_upload_add span.ui-button-text {
    display: block;
    margin-top: 0px !important;
    margin-right: auto !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    /* background-color:green; */
    text-align: center !important; }
  .hitachi-light #kh_button_upload_start,
  .hitachi-light #kh_button_upload_cancel {
    /* height: 30px; */ }
  .hitachi-light #kh_button_upload_add span.kh-button-label,
  .hitachi-light #kh_button_upload_start span.kh-button-label,
  .hitachi-light #kh_button_upload_cancel span.kh-button-label {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 12px;
    color: black;
    margin: 0px !important; }
  .hitachi-light #kh_add_document a.kh-link-button-disabled,
  .hitachi-light #kh_add_document a.kh-link-button-disabled:hover {
    color: #aaaaaa !important;
    border-color: #aaaaaa !important;
    background-color: #efefef !important;
    background-image: none;
    cursor: default !important; }
  .hitachi-light span.ui-icon {
    display: none; }
  .hitachi-light .fileupload-loading {
    background: url("../rialto-light/images/file-upload-loading.gif" !important) center no-repeat; }
  .hitachi-light .files .ui-progressbar-value,
  .hitachi-light .fileupload-buttonbar .ui-progressbar-value {
    background: url("../rialto-light/images/progress-animation.gif"); }
  .hitachi-light div.progress div.bar {
    background-color: red; }
  .hitachi-light tr.kh-upload-file-row th,
  .hitachi-light tr.kh-upload-file-row td {
    border-top: solid 2px #999999 !important; }
  .hitachi-light table.kh-upload-files h3 {
    font-weight: bold; }
  .hitachi-light table.kh-upload-metadata th h2 {
    color: black;
    font-weight: bold;
    font-size: 110%; }
  .hitachi-light tr.kh-upload-section th h3 {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    background-image: url("../rialto-light/images/nav-arrow-down.gif");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 15px; }
  .hitachi-light tr.kh-upload-section:hover th h3 {
    text-decoration: underline; }
  .hitachi-light tr.kh-upload-section th h3.kh-upload-section-hidden {
    background-image: url("../rialto-light/images/nav-arrow-right.gif"); }
  .hitachi-light table.kh-upload-metadata tr.kh-upload-section-row th {
    padding-left: 20px !important; }
  .hitachi-light #kh_upload_simple_table > h2 {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 110%; }
  .hitachi-light #kh_upload_container_buttons {
    padding-top: 10px;
    padding-bottom: 10px; }
  .hitachi-light div.kh-move-status-container {
    padding-bottom: 10px;
    clear: both; }
  .hitachi-light div.kh-move-status-bar {
    /*border: 1px solid blue;*/
    height: 25px;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-right: 10px; }
  .hitachi-light div.kh-move-status-bar-progress {
    width: 102px !important; }
  .hitachi-light div.kh-move-status-container {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-pending,
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-pending-all,
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-complete,
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-complete-all,
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-failed {
    height: 15px !important;
    padding: 0px !important;
    display: block;
    float: left; }
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-pending,
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-pending-all {
    color: #666666;
    font-size: 50%;
    background: url("../rialto-light/images/progress-animation.gif") !important;
    background-color: #666666 !important;
    border: 1px solid #dddddd !important;
    border-left: none !important;
    height: 20px !important;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-pending-all {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-complete {
    background-color: #9999ff;
    color: #9999ff;
    font-size: 50%;
    border: 1px solid #9999ff;
    border-right: none;
    height: 20px !important;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-complete-all {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 24px !important;
    height: 24px !important;
    background: url("../rialto-light/images/icon-status-ok-new.png") no-repeat !important; }
  .hitachi-light div.kh-move-status-bar span.kh-progress-move-failed {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 24px !important;
    height: 24px !important;
    background: url("../rialto-light/images/icon-status-error-new.png") no-repeat !important; }
  .hitachi-light div.kh-move-status-container span.kh-progress-move-complete > span,
  .hitachi-light div.kh-move-status-container span.kh-progress-move-complete-all > span,
  .hitachi-light div.kh-move-status-container span.kh-progress-move-pending > span,
  .hitachi-light div.kh-move-status-container span.kh-progress-move-pending-all > span,
  .hitachi-light div.kh-move-status-container span.kh-progress-move-failed > span {
    display: none; }
  .hitachi-light div.kh-move-status-container span.kh-progress-move-summary,
  .hitachi-light div.kh-move-status-container span.kh-progress-move-summary-failed {
    padding-top: 5px !important;
    padding-left: 30px !important;
    display: block; }
  .hitachi-light div.kh-move-status-container span.kh-progress-move-summary-failed {
    color: red; }
  .hitachi-light div.kh-move-status-container strong {
    font-weight: bold; }
  .hitachi-light table.kh-list-standard div.kh-move-status-container span.kh-progress-move-summary,
  .hitachi-light table.kh-list-standard div.kh-move-status-container span.kh-progress-move-summary-failed {
    display: none; }
  .hitachi-light div.kh-ajax-progress {
    background: url("../rialto-light/images/progress-spinner.gif") left center no-repeat !important;
    display: block;
    background-color: red;
    height: 48px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    padding-top: .5em;
    padding-bottom: .5em;
    border-top: solid 1px #cccccc;
    /*border-bottom: solid 1px #666666;*/ }
  .hitachi-light span.kh-progress-span {
    background: url("../rialto-light/images/activity-indicator.gif") no-repeat !important;
    width: 24px !important;
    height: 24px !important; }
  .hitachi-light td.kh-permission-progress-active {
    background-image: url("../rialto-light/images/activity-indicator.gif");
    background-position: right center;
    background-repeat: no-repeat !important;
    width: 24px !important;
    height: 24px !important;
    padding-right: 30px !important; }
  .hitachi-light td.kh-permission-progress-complete {
    background-image: url("../rialto-light/images/icon-status-ok-new.png");
    background-position: right center;
    background-repeat: no-repeat !important;
    width: 24px !important;
    height: 24px !important;
    padding-right: 30px !important; }
  .hitachi-light td.kh-permission-progress-error {
    background-image: url("../rialto-light/images/icon-status-error-new.png");
    background-position: right center;
    background-repeat: no-repeat !important;
    width: 24px !important;
    height: 24px !important;
    padding-right: 30px !important; }
  .hitachi-light div.kh-search-block {
    border: solid #999999 1px;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px; }
  .hitachi-light div.kh-search-block form {
    padding: 0px;
    margin: 0px; }
  .hitachi-light div.kh-search-block li.kh-action-button {
    padding-left: 7em;
    margin-top: .5em; }
  .hitachi-light div.kh-search-block li {
    /* float:left;*/
    display: block;
    padding-bottom: 2px; }
  .hitachi-light div.kh-search-block li label {
    display: block;
    width: 7em;
    float: left;
    clear: both !important; }
  .hitachi-light div.kh-search-block-borderless {
    border: none;
    padding: 0px; }
  .hitachi-light div.kh-search-block-borderless li.kh-action-message-instruct {
    padding-top: .5em;
    padding-bottom: .5em !important; }
  .hitachi-light div.kh-search-block-borderless li.kh-action-message-error {
    padding-top: .5em;
    padding-bottom: .5em !important;
    color: red;
    font-weight: bold; }
  .hitachi-light div.kh-original-xml pre,
  .hitachi-light div.kh-formatted-xml pre {
    width: 100%;
    word-wrap: break-word;
    /* IE */
    white-space: pre-wrap;
    color: #999999; }
  .hitachi-light div.CodeRay .attribute-name {
    color: #999999; }
  .hitachi-light div.CodeRay .delimiter {
    color: #999999; }
  .hitachi-light div.CodeRay .tag {
    color: #000099; }
  .hitachi-light div.CodeRay .string {
    color: #009900; }
  .hitachi-light div.CodeRay .equal {
    color: #aaaaaa; }
  .hitachi-light div.CodeRay .bracket {
    color: #999999; }
  .hitachi-light div.CodeRay .preprocessor {
    color: #999999; }
  .hitachi-light table.kh-table-difference td {
    vertical-align: top; }
  .hitachi-light table.kh-table-difference td p,
  .hitachi-light table.kh-table-difference td pre {
    background-repeat: no-repeat;
    background-position: 4px 0px;
    padding-left: 25px;
    padding-bottom: 2px;
    padding-top: 2px; }
  .hitachi-light table.kh-table-difference td p.kh-difference-change,
  .hitachi-light table.kh-table-difference td pre.kh-difference-change {
    background-color: #fff0b2;
    background-image: url("../rialto-light/images/icon-diff-changed.gif") !important;
    background-repeat: no-repeat; }
  .hitachi-light table.kh-table-difference td p.kh-difference-change-first,
  .hitachi-light table.kh-table-difference td pre.kh-difference-change-first {
    background-color: #fff9e0; }
  .hitachi-light table.kh-table-difference td p.kh-difference-added,
  .hitachi-light table.kh-table-difference td pre.kh-difference-added {
    background-color: #bce5b8;
    background-image: url("../rialto-light/images/icon-diff-added.gif") !important;
    background-repeat: no-repeat; }
  .hitachi-light table.kh-table-difference td p.kh-difference-added-first,
  .hitachi-light table.kh-table-difference td pre.kh-difference-added-first {
    background-color: #ebf7ea; }
  .hitachi-light table.kh-table-difference td p.kh-difference-removed,
  .hitachi-light table.kh-table-difference td pre.kh-difference-removed {
    background-color: #ffe5e5;
    color: #666666;
    text-decoration: line-through;
    background-image: url("../rialto-light/images/icon-diff-removed.gif") !important;
    background-repeat: no-repeat; }
  .hitachi-light table.kh-table-difference td p.kh-difference-removed-first,
  .hitachi-light table.kh-table-difference td pre.kh-difference-removed-first {
    background-color: #fff5f5; }
  .hitachi-light td.kh-event-outcome-SUCCESS {
    background-image: url("../rialto-light/images/icon-status-completed.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px !important; }
  .hitachi-light td.kh-ignored-event-outcome-SUCCESS {
    background-image: url("../rialto-light/images/icon-status-completed-dim.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px !important;
    color: #666666; }
  .hitachi-light td.kh-event-outcome-FAILURE {
    background-image: url("../rialto-light/images/icon-status-failed.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px !important; }
  .hitachi-light td.kh-ignored-event-outcome-FAILURE {
    background-image: url("../rialto-light/images/icon-status-failed-dim.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px !important;
    color: #666666; }
  .hitachi-light td.kh-event-outcome-WARNING {
    background-image: url("../rialto-light/images/icon-status-warning.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px !important; }
  .hitachi-light td.kh-ignored-event-outcome-WARNING {
    background-image: url("../rialto-light/images/icon-status-warning-dim.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px !important;
    color: #666666; }
  .hitachi-light td.kh-event-outcome,
  .hitachi-light td.kh-ignored-event-outcome {
    padding-left: 30px !important; }
  .hitachi-light td.kh-ignored-event-outcome {
    color: #666666; }
  .hitachi-light span.ignored-event-outcome {
    color: black; }
  .hitachi-light table.kh-event-list tr.sameID.even {
    background-color: #fffccf; }
  .hitachi-light table.kh-event-list tr.sameID.odd {
    background-color: #fff9ab; }
  .hitachi-light table.dataTable.kh-event-list tbody tr.even.sameID td.sorting_1 {
    background-color: #fcf8be; }
  .hitachi-light table.dataTable.kh-event-list tbody tr.odd.sameID td.sorting_1 {
    background-color: #fff798; }
  .hitachi-light table.kh-event-list td.clickedID,
  .hitachi-light table.kh-event-list tr.sameID td.clickedID.sorting_1 {
    background-color: #fedf71 !important; }
  .hitachi-light table.dataTable.kh-event-list tr.even:hover,
  .hitachi-light table.kh-details-table tr.even:hover {
    background-color: #d8e9ff; }
  .hitachi-light table.dataTable.kh-event-list tbody tr.even.sameID:hover td {
    background-color: #ecffb3; }
  .hitachi-light table.dataTable.kh-event-list tr.even:hover td.sorting_1 {
    background-color: #bfdaff; }
  .hitachi-light table.dataTable.kh-event-list tr.even.sameID:hover td.sorting_1 {
    background-color: #daf3aa; }
  .hitachi-light table.kh-event-list tr.odd:hover,
  .hitachi-light table.kh-details-table tr.odd:hover {
    background-color: #cbdcf2; }
  .hitachi-light table.dataTable.kh-event-list tbody tr.odd.sameID:hover td {
    background-color: #ecffb3; }
  .hitachi-light table.dataTable.kh-event-list tr.odd:hover td.sorting_1 {
    background-color: #b0cef2; }
  .hitachi-light table.dataTable.kh-event-list tr.odd.sameID:hover td.sorting_1 {
    background-color: #cae99f; }
  .hitachi-light table.kh-event-list tr.odd.sameID:hover td.clickedID,
  .hitachi-light table.kh-event-list tr.odd.sameID:hover td.clickedID.sorting_1,
  .hitachi-light table.kh-event-list tr.even.sameID:hover td.clickedID,
  .hitachi-light table.kh-event-list tr.even.sameID:hover td.clickedID.sorting_1 {
    background-color: #adda9b !important; }
  .hitachi-light table.kh-event-list td.event-time,
  .hitachi-light table.kh-details-table td.event-time,
  .hitachi-light table.kh-table-nvp td.event-time {
    color: #666666; }
  .hitachi-light table.kh-event-list td span.main-time,
  .hitachi-light table.kh-details-table td span.main-time,
  .hitachi-light table.kh-table-nvp td span.main-time {
    color: black;
    font-weight: normal; }
  .hitachi-light .ignored-time {
    color: #666666; }
  .hitachi-light table.kh-details-table tbody {
    color: black; }
  .hitachi-light table.kh-event-list th,
  .hitachi-light table.kh-event-list td,
  .hitachi-light table.kh-details-table th,
  .hitachi-light table.kh-details-table td {
    padding: 3px;
    padding-right: 10px !important; }
  .hitachi-light table.kh-details-table tr.odd,
  .hitachi-light table.kh-event-list tr.odd {
    background-color: #fafafa; }
  .hitachi-light table.kh-details-table tr.even,
  .hitachi-light table.kh-event-list tr.even {
    background-color: white; }
  .hitachi-light td.patientID:hover,
  .hitachi-light td.accNum:hover {
    cursor: pointer; }
  .hitachi-light div.kh-list-standard table tr.kh-level-1 td:first-child,
  .hitachi-light table.kh-details-table tr.kh-level-1 td:first-child {
    padding-left: 25px !important;
    background: url("../rialto-light/images/indent-child.gif") no-repeat 5px 5px; }
  .hitachi-light div.kh-list-standard table tr.kh-level-2 td:first-child,
  .hitachi-light table.kh-details-table tr.kh-level-2 td:first-child {
    padding-left: 40px;
    background: url("../rialto-light/images/indent-child.gif") no-repeat 20px 5px; }
  .hitachi-light div.kh-list-standard table tr.kh-level-3 td:first-child,
  .hitachi-light table.kh-details-table tr.kh-level-3 td:first-child {
    padding-left: 55px;
    background: url("../rialto-light/images/indent-child.gif") no-repeat 30px 5px; }
  .hitachi-light div.kh-list-standard table tr.kh-level-4 td:first-child,
  .hitachi-light table.kh-details-table tr.kh-level-4 td:first-child {
    padding-left: 70px;
    background: url("../rialto-light/images/indent-child.gif") no-repeat 40px 5px; }
  .hitachi-light div.kh-list-standard table tr.kh-level-5 td:first-child,
  .hitachi-light table.kh-details-table tr.kh-level-5 td:first-child {
    padding-left: 85px;
    background: url("../rialto-light/images/indent-child.gif") no-repeat 50px 5px; }
  .hitachi-light div.kh-list-standard table tr.kh-row-even td {
    background-color: white !important; }
  .hitachi-light td.eventDetails {
    vertical-align: top; }
  .hitachi-light strong.highlight {
    font-weight: bold; }
  .hitachi-light table.kh-details-table {
    border-top: 1px solid #999999;
    margin-bottom: 10px; }
  .hitachi-light table.kh-details-table th {
    border-bottom: 1px solid #999999; }
