/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Define the name for your theme */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
$name: "template-light";

/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Define a few colours for use in your theme */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
$karos-orange: #ff6633;
$black: black;
$white: white;
$blue: #0000ff;
$blue-light: #6666ff;

$grey-eee: #eee;
$grey-ccc: #ccc;
$grey-999: #999;
$grey-666: #666;
$grey-333: #333;

/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Define places where the colours (and measurements) are used */
/* ---------- ---------- ---------- ---------- ---------- ---------- */

/* ---------- ---------- ---------- */
/* Background Colors */
/* ---------- ---------- ---------- */
$main-background-color: #151515;
$main-container-color: #333333;
$notification-bg: #151515;

/* ---------- ---------- ---------- */
/* Logo Positioning */
/* ---------- ---------- ---------- */
$branding-top-bar: '../template-light/images/template-top-bar.gif';
$branding-logo: '../template-light/images/template-navigator-logo.png';
$logo_top: 0px;
$logo_left: 25px;
$logo_width: 90px;
$logo_height: 70px;
$branding-logo-login: '../template-light/images/template-large-navigator-logo.png';
$branding-logo-login-x: 50px;
$branding-logo-login-y: 20px;
$branding-logo-login-padding: 250px;
$branding-logo-login-width: 420px;

$logo_wrap_width: 127px;

/* ---------- ---------- ---------- */
/* Text and link colors */
/* ---------- ---------- ---------- */
$text-heading: #ff6633;
$text-color-primary: #fff;
$text-color-secondary: #bbb;
$text-color-disabled: #999;

$link-color-default: #a6c8ff;
$link-color-default-hover: #cbdfff;
$link-color-secondary: #ccc;

$text-warning-message: #D80000;
$text-error-message: #ff6666;

$text-error-toggle-arrow-right:  '../template-light/images/template-arrow-right.gif';
$text-error-toggle-arrow-down:  '../template-light/images/template-arrow-down.gif';

/* ---------- ---------- ---------- */
/* Shadow for containers */
/* ---------- ---------- ---------- */
$container-shadow-color: #555;

/* ---------- ---------- ---------- */
/* Borders */
/* ---------- ---------- ---------- */
$border-color-contrast-low: #999;
$border-color-contrast-medium: #777;
$border-color-contrast-high: #666;

$border-color-for-menu: #333;
$documents-border: #f7f7f7;
$notifications-border: #dedede;
$border-iframe: #ddd;

$border-color-panel: #111;

/* ---------- ---------- ---------- */
/* Buttons and inputs */
/* ---------- ---------- ---------- */
$button-bg-color-light: #666;
$button-bg-color-light-hover: #888;

$button-bg-color-dark: #222;

$form-text-bg-color: #5b5428;
$form-text-bg-color-focus: #696236;

/* ---------- ---------- ---------- */
/* Navigation colours */
/* ---------- ---------- ---------- */
$main-nav-bg: #151515;
$main-nav-bg-current: #333;

$secondary-nav-bg: #333;
$secondary-nav-active: #666;
$secondary-nav-current-tab-font: #fff;
$secondary-nav-border: #333;

/* ---------- ---------- ---------- */
/* Images */
/* ---------- ---------- ---------- */
$breadcrumb-arrow: '../template-light/images/template-point-right.gif';
$down-arrow: '../template-light/images/template-arrow-down.gif';
$progress-spinner: '../template-light/images/template-progress-spinner.gif';

/* ---------- ---------- ---------- */
/* jQuery Data Table colours */
/* ---------- ---------- ---------- */
$table-dt-border: #666;
$table-dt-border-selected: #777;

$table-dt-odd-row: #333;
$table-dt-odd-row-hover: #666666;
$table-dt-odd-row-sorting: #222;
$table-dt-odd-row-selected: #fff882;
$table-dt-odd-row-selected-sorting: #f7f181;
$table-dt-odd-column-selected: #5b5428;
$table-dt-odd-column-selected-sorting: #5b5428;

$table-dt-even-row: #444;
$table-dt-even-row-hover: #666666;
$table-dt-even-row-sorting: #333;
$table-dt-even-row-selected: #fffbb9;
$table-dt-even-row-selected-sorting: #f7f3b5;
$table-dt-even-column-selected: #696236;
$table-dt-even-column-selected-sorting: #696236;

$table-dt-image-sort-none: '../template-light/images/template-sort-both.png';
$table-dt-image-sort-asc: '../template-light/images/template-sort-asc.png';
$table-dt-image-sort-desc: '../template-light/images/template-sort-desc.png';

/* ---------- ---------- ---------- */
/*  Prefs table colours and images 	*/
/* ---------- ---------- ---------- */
$table-dt-head-draggable-texture: '../template-light/images/template-texture-vertical-lines.gif';
$table-dt-head-draggable-color: #111111;

/* ---------- ---------- ---------- */
/*  Document type icons 			*/
/* ---------- ---------- ---------- */
$icon-doctype-cda: '../template-light/images/icon-doctype-cda.gif';
$icon-doctype-dcm: '../template-light/images/icon-doctype-dcm.gif';
$icon-doctype-pdf: '../template-light/images/icon-doctype-pdf.gif';
$icon-doctype-jpg: '../template-light/images/icon-doctype-jpg.gif';
$icon-doctype-vid: '../template-light/images/icon-doctype-vid.gif';
$icon-doctype-unknown: '../template-light/images/icon-doctype-unknown.gif';

/* ----------------------------------*/
/*  Paging images 		             */
/* ----------------------------------*/
$nav-arrow-left-disabled: '../template-light/images/template-arrow-left-disabled.gif';
$nav-arrow-left: '../template-light/images/template-arrow-left.gif';
$nav-arrow-right-disabled: '../template-light/images/template-arrow-right-disabled.gif';
$nav-arrow-right: '../template-light/images/template-arrow-right.gif';

/* ----------------------------------*/
/* Audit record XML highlighting colours */
/* ----------------------------------*/

$syntax-highlight-default: $grey-ccc;
$syntax-highlight-delimiter: $grey-ccc;
$syntax-highlight-attribute-name: $grey-ccc;
$syntax-highlight-attribute-value: #0c0;
$syntax-highlight-tag: #aad;
$syntax-highlight-equal: $grey-ccc;
$syntax-highlight-bracket: $grey-ccc;
$syntax-highlight-preprocessor: $grey-ccc;
