/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Define a few colours for use in this theme */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* Define places where the colours (and measurements) are used */
/* ---------- ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- */
/* Background Colors */
/* ---------- ---------- ---------- */
/* Logo Positioning */
/* ---------- ---------- ---------- */
/* Text and link colors */
/* ---------- ---------- ---------- */
/* Shadow for containers */
/* ---------- ---------- ---------- */
/* Borders */
/* ---------- ---------- ---------- */
/* Buttons and inputs */
/* ---------- ---------- ---------- */
/* Navigation colours */
/* ---------- ---------- ---------- */
/* Images */
/* ---------- ---------- ---------- */
/* jQuery Data Table colours */
/* ---------- ---------- ---------- */
/* Prefs table colours and images */
/* ----------------------------------*/
/* Icon images             */
/* ----------------------------------*/
/* Prefs paging images             */
/* ----------------------------------*/
/* Audit record XML highlighting colours */
/* ----------------------------------*/
/* jQuery File Upload */
/* ----------------------------------*/
/* Progress indicator */
/* Logo positioning */
/* Header */
/*$text-heading: red;*/
/* Images */
/* Branding */
/* Logo positioning */
/* Header */
/*$text-heading: red;*/
body.hitachi-dark {
  background-color: #151515;
  color: white; }

.hitachi-dark {
  /* ---------- ---------- ---------- */
  /* Links */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Banner at top of page */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Main container (for lists, search areas, order areas, etc.) */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Action buttons and areas */
  /* ---------- ---------- ---------- */
  /* Links: button-based and text-based */
  /* Menu base */
  /* ---------- ---------- ---------- */
  /* Form Elements */
  /* ---------- ---------- ---------- */
  /* TO DO: Constrain scope on these */
  /* ---------- ---------- ---------- */
  /* Main navigation tabs */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Secondary navigation tabs */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Messages */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Login Screen */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* For a starting search screen */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Menu panel */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Menu Panel (Javascript) */
  /* ---------- ---------- ---------- */
  /* iframe hack for IE */
  /* ---------- ---------- ---------- */
  /* Progress indicator */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Copyright */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Table head and controls */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Standard list view (supplemented by jQuery) */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* jQuery Data Table override */
  /* ---------- ---------- ---------- */
  /* Highlight a row on hover */
  /* Odd and even rows have different colours when selected */
  /* Highlight a row on hover */
  /* Highlight the selected column */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Style the Next, Previous, and page numbers for paging */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Panel content for 'search' menu/panel */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* Panel content for 'search' menu/panel */
  /* ---------- ---------- ---------- ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* iframe contains documents being rendered */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Refine form elements */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Show icons for different document types in a list of documents */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Hide empty document page table until it refreshes with search results */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* Override styles for jQuery auto-complete widget */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /* New styles for file upload. To be refactored */
  /* ---------- ---------- ---------- */
  /* Uploads table */
  /* ---------- ---------- ---------- */
  /* New styles for 'move dicom' workflow. To be refactored */
  /* ---------- ---------- ---------- */
  /* ---------- ---------- ---------- */
  /*  Styles for the CodeRay gem syntax highlighting */
  /* ---------- ---------- ---------- */ }
  .hitachi-dark a {
    color: #a6c8ff;
    background-color: transparent !important; }
  .hitachi-dark a:hover {
    color: #cbdfff;
    background-color: transparent !important; }
  .hitachi-dark div.kh-branding {
    text-align: left;
    vertical-align: middle;
    padding: 0px;
    padding-top: 25px;
    margin: 0px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #151515 !important;
    background-image: url("../hitachi-dark/images/hitachi-bar.png");
    background-position: 0px 0px !important;
    background-repeat: repeat-x;
    position: relative;
    z-index: 1000;
  /*
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  box-shadow: 2px 2px 2px $container-shadow-color; 
  -webkit-box-shadow: 2px 2px 2px $container-shadow-color; 
  -moz-box-shadow: 2px 2px 2px $container-shadow-color; 
  */
    /* behavior reference */ }
  .hitachi-dark div.kh-branding h1 {
    background-image: url("../hitachi-dark/images/logo-hitachi.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 15px;
    height: 40px;
    width: 401px; }
  .hitachi-dark div.kh-branding h1 span {
    display: none; }
  .hitachi-dark ul.kh-nav-products {
    /*float: left;*/
    float: right;
    /*
    clear: both;
    position: absolute;
    top:0px;
    left:0px;
    */
    margin: 0px;
    text-align: left;
    padding: 5px;
    padding-top: 0px;
    padding-left: 280px;
    z-index: 10; }
  .hitachi-dark ul.kh-nav-admin {
    float: right;
    clear: both;
    /*
    position: absolute;
    top:0px;
    right:0px;
    */
    margin: 0px;
    text-align: right;
    padding: 10px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    z-index: 10; }
  .hitachi-dark ul.kh-nav-products li,
  .hitachi-dark ul.kh-nav-admin li {
    /*float: right;*/
    display: inline;
    list-style: none;
    padding-left: 5px;
    color: #bbbbbb; }
  .hitachi-dark ul.kh-nav-products li.kh-nav-product-current,
  .hitachi-dark ul.kh-nav-admin li.kh-nav-product-current,
  .hitachi-dark ul.kh-nav-admin li.kh-nav-admin-user {
    font-weight: normal;
    color: white; }
  .hitachi-dark span.kh-user-role {
    color: #bbbbbb; }
  .hitachi-dark ul.kh-nav-products li.kh-nav-product-current a,
  .hitachi-dark ul.kh-nav-admin li.kh-nav-product-current a {
    font-weight: bold;
    color: white;
    text-decoration: none; }
  .hitachi-dark ul.kh-nav-products li a,
  .hitachi-dark ul.kh-nav-admin li a {
    color: #a6c8ff; }
  .hitachi-dark ul.kh-nav-products li a:hover,
  .hitachi-dark ul.kh-nav-admin li a:hover {
    color: #cbdfff; }
  .hitachi-dark span.kh-user-name {
    font-weight: bold; }
  .hitachi-dark div.kh-user-dropdown {
    z-index: 2000; }
  .hitachi-dark div.kh-user-dropdown ol {
    text-align: left; }
  .hitachi-dark div.kh-signout-box {
    background-color: #333333;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
    border-top-style: solid;
    border-top-width: 2px; }
  .hitachi-dark div.kh-container-main {
    background-color: #333333;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 2px 2px 2px #555555;
    -webkit-box-shadow: 2px 2px 2px #555555;
    -moz-box-shadow: 2px 2px 2px #555555;
    /* behavior reference */
    margin-right: 10px;
    margin-left: 0px;
    padding: 10px;
    /*float: left;*/
    min-height: 220px;
    overflow: auto;
    z-index: 100; }
  .hitachi-dark div.kh-page-content {
    /*float: left;*/
    position: absolute;
    top: 80px;
    right: 0px;
    left: 10px;
    padding-left: 0px !important;
    min-height: 200px;
    z-index: 100;
    width: auto; }
  .hitachi-dark div.kh-page-tabless {
    left: 10px;
    padding-left: 0px !important;
    min-height: 200px;
    z-index: 100; }
  .hitachi-dark div.kh-page-tabbed {
    left: 130px;
    padding-left: 0px !important;
    min-height: 200px;
    z-index: 100; }
  .hitachi-dark div.kh-container-main > fieldset {
    background-color: #333333;
    padding-top: 0em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: 10px;
    margin-top: 0em; }
  .hitachi-dark ol.kh-breadcrumb li {
    font-size: 100%;
    color: #bbbbbb;
    float: left;
    margin: 0px;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 0px;
    padding-right: 15px;
    background: transparent url("../rialto-dark/images/nav-breadcrumb-arrow.gif") center right no-repeat; }
  .hitachi-dark div.kh-page-head h2 {
    padding: 0px;
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 140%;
    color: #ff6633;
    clear: both;
    float: none !important;
    padding-bottom: 0px; }
  .hitachi-dark div.kh-page-head h3 {
    padding: 0px;
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 120%;
    font-weight: bold;
    color: #999999;
    clear: both;
    float: none !important;
    padding-bottom: 0px; }
  .hitachi-dark div.kh-page-head h3 span {
    color: white;
    font-weight: bold; }
  .hitachi-dark button,
  .hitachi-dark input[type="submit"],
  .hitachi-dark a.kh-link-button {
    border: solid 1px #666666;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0px;
    padding: 2px;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 90%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #222222;
    /* fallback color */
    background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#666666), to(#222222));
    background-image: -moz-linear-gradient(top, #666666 0%, #222222 100%);
    background: linear-gradient(top, #666666 100%, #222222 100%);
    /* behavior reference */ }
  .hitachi-dark button:hover,
  .hitachi-dark input[type="submit"]:hover,
  .hitachi-dark a.kh-link-button:hover {
    border: solid 1px #666666;
    background-color: #666666;
    background-color: #888888;
    /* fallback color */
    background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#666666), to(#888888));
    background-image: -moz-linear-gradient(top, #666666 0%, #888888 100%); }
  .hitachi-dark input[type="submit"]:hover:disabled,
  .hitachi-dark input[type="submit"]:disabled {
    background: #888888;
    border-color: #aaaaaa;
    color: #999999;
    cursor: default; }
  .hitachi-dark div.kh-actions-area {
    clear: both;
    padding: .5em;
    padding-left: 0px;
    border-top: solid #333333 1px; }
  .hitachi-dark div.kh-actions-area ol {
    padding: 0px;
    margin: 0px;
    overflow: hidden; }
  .hitachi-dark div.kh-actions-area li {
    list-style: none;
    float: left;
    margin-right: 2px; }
  .hitachi-dark ol.kh-action-button-set {
    padding: 0px;
    padding-top: .5em;
    padding-bottom: 5px;
    clear: both; }
  .hitachi-dark ol.kh-action-button-set form {
    display: inline !important; }
  .hitachi-dark ol.kh-action-button-set-foot {
    padding-top: 1em;
    margin-top: 1em;
    border-top: solid 1px #666666; }
  .hitachi-dark ol.kh-action-button-set-head {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 1em;
    border-bottom: solid 1px #666666; }
  .hitachi-dark ol.kh-action-button-set li {
    display: inline !important;
    padding: 0px; }
  .hitachi-dark ol.kh-action-button-set li.kh-menu-select {
    float: left; }
  .hitachi-dark ol.kh-action-button-set li a {
    text-decoration: none;
    color: white !important; }
  .hitachi-dark ol.kh-action-button-set li.kh-action-message-instruct,
  .hitachi-dark ol.kh-action-button-set li.kh-action-message-confirm,
  .hitachi-dark ol.kh-action-button-set li.kh-action-message-done {
    display: block;
    padding-bottom: .5em;
    width: 50%; }
  .hitachi-dark ol.kh-action-button-set li.kh-action-message-instruct {
    padding-bottom: 1em; }
  .hitachi-dark ol.kh-action-button-set-head li.kh-action-message-confirm,
  .hitachi-dark ol.kh-action-button-set-head li.kh-action-message-done {
    /*padding-top: 1em;
    margin-top: 1em;
    border-top: solid 1px #999999;
    width: 100%;*/ }
  .hitachi-dark ol.kh-action-button-set li button,
  .hitachi-dark ol.kh-action-button-set li input[type="submit"],
  .hitachi-dark ol.kh-action-button-set li a.kh-link-button {
    margin: 0px !important;
    margin-right: 5px !important;
    display: block !important; }
  .hitachi-dark ol.kh-action-button-set li button.kh-button-refresh {
    display: inline !important; }
  .hitachi-dark ol.kh-action-button-set li button.kh-action-menu span,
  .hitachi-dark ul.kh-action-button-set li button.kh-action-menu span {
    background-image: url("../rialto-dark/images/nav-arrow-down.gif") !important;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0px;
    padding-right: 14px;
    padding-left: 0px; }
  .hitachi-dark a.kh-button-link,
  .hitachi-dark input.kh-button-link,
  .hitachi-dark button.kh-button-link {
    background-color: transparent;
    border: none;
    color: #cccccc;
    text-decoration: underline;
    background-image: none;
    padding: 0px;
    margin: 0px; }
  .hitachi-dark a.kh-button-link:hover,
  .hitachi-dark input.kh-button-link:hover,
  .hitachi-dark button.kh-button-link:hover {
    color: #cbdfff;
    border: none;
    background-color: transparent;
    background-image: none; }
  .hitachi-dark input.kh-button-link[type="submit"]:disabled {
    background: none;
    border: none;
    color: #999999; }
  .hitachi-dark div.kh-menu-block {
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border: solid #666666 1px;
    background-color: #333333;
    box-shadow: 2px 2px 3px #555555;
    -webkit-box-shadow: 2px 2px 3px #555555;
    -moz-box-shadow: 2px 2px 3px #555555;
    padding: 0px;
    margin: 0px;
    float: left; }
  .hitachi-dark div.kh-menu-block ol.kh-menu-list {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    /*border: solid #999999 1px;*/ }
  .hitachi-dark div.kh-menu-block ol.kh-menu-list li {
    border-top: solid #333333 1px;
    list-style: none;
    padding: 2px;
    padding-right: 10px;
    padding-left: 5px; }
  .hitachi-dark div.kh-menu-block ol.kh-menu-list li:hover {
    background-color: #888888;
    cursor: pointer; }
  .hitachi-dark div.kh-menu-block ol.kh-menu-list li:first-child {
    border: none; }
  .hitachi-dark form {
    border: none !important; }
  .hitachi-dark input[type="text"],
  .hitachi-dark input[type="password"],
  .hitachi-dark textarea {
    border: solid 1px #999999;
    background-color: #5b5428;
    color: white; }
  .hitachi-dark input[type="text"]:disabled,
  .hitachi-dark input[type="password"]:disabled,
  .hitachi-dark textarea:disabled {
    border: none;
    color: #999999;
    background-color: transparent; }
  .hitachi-dark input[type="text"]:focus,
  .hitachi-dark input[type="password"]:focus,
  .hitachi-dark textarea:focus {
    border: solid 1px #333333;
    background-color: #696236; }
  .hitachi-dark textarea {
    resize: vertical; }
  .hitachi-dark th.kh-form-required:after {
    content: " * ";
    color: white; }
  .hitachi-dark ul.kh-main-navigation {
    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    width: 130px;
    z-index: 10; }
  .hitachi-dark ul.kh-main-navigation li {
    position: relative;
    background-color: #151515;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: solid 2px #333333;
    border-right: none;
    color: white;
    list-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 1px 1px 2px #555555;
    -webkit-box-shadow: 1px 1px 2px #555555;
    -moz-box-shadow: 1px 1px 2px #555555;
    /* behavior reference */ }
  .hitachi-dark ul.kh-main-navigation li:first-child {
    margin-top: 10px; }
  .hitachi-dark ul.kh-main-navigation li.currentTab {
    background-color: #333333;
    color: white;
    box-shadow: 2px 2px 2px #555555;
    -webkit-box-shadow: 2px 2px 2px #555555;
    -moz-box-shadow: 2px 2px 2px #555555;
    /* behavior reference */ }
  .hitachi-dark ul.kh-main-navigation li a {
    text-decoration: none;
    color: white; }
  .hitachi-dark ul.kh-main-navigation li.currentTab a {
    color: white; }
  .hitachi-dark ol.kh-secondary-navigation {
    border-bottom: 3px solid #666666;
    padding-top: 10px;
    z-index: 10 !important;
    margin-bottom: 8px;
    zoom: 1; }
  .hitachi-dark ol.kh-secondary-navigation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .hitachi-dark ol.kh-secondary-navigation li {
    border: 1px solid #666666;
    border-bottom: none;
    float: left;
    display: inline;
    padding: 5px !important;
    padding-bottom: 2px !important;
    margin-left: 5px !important;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    background-color: #333333;
    cursor: pointer;
    /*
    box-shadow: 1px 1px 1px #aaa; 
    -webkit-box-shadow: 1px 1px 1px #aaa; 
    -moz-box-shadow: 1px 1px 1px #aaa; 
    */ }
  .hitachi-dark ol.kh-secondary-navigation li.kh-current {
    color: black;
    background-color: #666666;
    border-color: #333333;
    cursor: default;
    /*
    box-shadow: 2px 2px 2px #aaa; 
    -webkit-box-shadow: 2px 2px 2px #aaa; 
    -moz-box-shadow: 2px 2px 2px #aaa; 
    */ }
  .hitachi-dark ol.kh-secondary-navigation li a {
    color: white;
    text-decoration: none; }
  .hitachi-dark ol.kh-secondary-navigation li.kh-current,
  .hitachi-dark ol.kh-secondary-navigation li.kh-current a {
    color: white;
    text-decoration: none; }
  .hitachi-dark ol.kh-secondary-navigation li.kh-disabled,
  .hitachi-dark ol.kh-secondary-navigation li.kh-disabled a {
    color: #999999;
    border-color: #777777;
    text-decoration: none;
    cursor: default; }
  .hitachi-dark ol.kh-secondary-navigation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1; }
  .hitachi-dark div.kh-tab-content {
    clear: both;
    /*border-top: solid 3px #333333;*/
    z-index: 100 !important; }
  .hitachi-dark div.kh-error-message h1 {
    font-weight: bold;
    padding-bottom: 1em;
    clear: both; }
  .hitachi-dark div.kh-error-message h2 {
    font-weight: normal;
    padding-bottom: 1em;
    clear: both; }
  .hitachi-dark div.kh-error-message h4 {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block; }
  .hitachi-dark div.kh-error-message div.kh-error-debug p {
    padding-bottom: 5px;
    padding-left: 15px;
    display: block; }
  .hitachi-dark h5.kh-toggle-error-details {
    cursor: pointer;
    font-weight: bold;
    background-image: url("../rialto-dark/images/nav-arrow-right.gif");
    background-repeat: no-repeat;
    background-position: 3px 0px;
    padding-left: 15px; }
  .hitachi-dark h5.kh-is-open {
    background-image: url("../rialto-dark/images/nav-arrow-down.gif") !important;
    background-position: 0 0;
    padding-left: 15px; }
  .hitachi-dark div.kh-warning-message {
    color: white;
    /*background-color: #ffffbb;
    border: solid;
    border-color: #D80000;
    border-width: 1px;
    border-radius: 4px;*/
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: .5em;
    padding-right: .75em;
    padding-left: 0em; }
  .hitachi-dark div.kh-warning-message strong {
    color: #d80000; }
  .hitachi-dark div.kh-move-patient {
    float: left;
    padding: 10px;
    margin-right: 10px;
    border: #777777 solid 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-dark div.kh-move-patient h2 {
    font-weight: bold;
    font-size: 150%; }
  .hitachi-dark div.kh-move-patient h3 {
    font-weight: bold;
    font-size: 150%; }
  .hitachi-dark div.kh-container-move-document {
    /*width:800px;*/ }
  .hitachi-dark div.kh-move-document-confirm {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    border: #777777 solid 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-dark div.kh-list-confirm-detached-documents {
    padding: 5px;
    margin: 5px;
    border-top: #f7f7f7 solid 2px;
    border-bottom: #f7f7f7 solid 2px; }
  .hitachi-dark div.kh-message-alert {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    border: #ff6666 solid 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-dark div.kh-message-alert p {
    color: #ff6666;
    font-weight: bold; }
  .hitachi-dark div.kh-message-notification {
    color: white;
    clear: both;
    font-size: 98%;
    padding: 6px;
    margin-bottom: 6px;
    border: #dedede solid 1px;
    background-color: #151515;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-dark div.kh-message-instruction {
    color: white;
    clear: both;
    font-weight: bold;
    font-size: 98%;
    padding: 6px;
    margin-bottom: 6px;
    background-color: #151515;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-dark div.kh-login-content {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px; }
  .hitachi-dark div.kh-container-login {
    background-color: #333333;
    background-image: url("../hitachi-dark/images/logo-hitachi-400.png");
    background-repeat: no-repeat;
    background-position: 10px 20px;
    border: 1px solid #666666;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 2px 2px 2px #555555;
    -webkit-box-shadow: 2px 2px 2px #555555;
    -moz-box-shadow: 2px 2px 2px #555555;
    margin-right: 10px;
    margin-left: 0px;
    padding: 30px 0px 30px 20px;
    padding-top: 100px !important;
    overflow: auto; }
  .hitachi-dark div.kh-login-block {
    border: 0;
    background-color: #333333;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px; }
  .hitachi-dark div.kh-login-block form {
    padding: 0px;
    margin: 0px; }
  .hitachi-dark div.kh-login-block li,
  .hitachi-dark div.kh-search-container li {
    /* float:left;*/
    display: block;
    padding-bottom: 2px;
    line-height: 200%; }
  .hitachi-dark div.kh-login-block li label {
    display: block;
    width: 7em;
    float: left;
    clear: both !important;
    padding-left: 0em; }
  .hitachi-dark div.kh-login-block li input {
    /*width: 10em;*/ }
  .hitachi-dark div.kh-login-block li.kh-action-button {
    padding-left: 7em;
    margin-top: .5em; }
  .hitachi-dark div.kh-container-login h2 {
    padding-left: 5.5em;
    /*text-align: center;*/
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 140%;
    color: #ff6633;
    clear: both;
    float: none !important; }
  .hitachi-dark div.kh-sign-in-error {
    padding-left: 7.75em;
    margin-right: 7em;
    color: #ff6666; }
  .hitachi-dark div.kh-login-block input[type="password"],
  .hitachi-dark textarea {
    border: solid 1px #999999;
    background-color: #5b5428; }
  .hitachi-dark div.kh-login-block input[type="password"]:focus,
  .hitachi-dark textarea:focus {
    border: solid 1px #333333;
    background-color: #696236; }
  .hitachi-dark div.kh-search-container {
    border: 1px solid #666666;
    padding: 30px 0px;
    overflow: auto;
    min-height: 100px; }
  .hitachi-dark div.kh-search-content {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    clear: both; }
  .hitachi-dark ol.kh-search-area li label {
    display: block;
    width: 7em;
    float: left;
    clear: both !important;
    padding-left: 7em; }
  .hitachi-dark ol.kh-search-area li.kh-action-button {
    padding-left: 14em;
    margin-top: .5em; }
  .hitachi-dark h2.search-heading {
    padding-left: 10em;
    padding-bottom: .5em;
    margin: 0px;
    padding-right: .5em !important;
    font-weight: bold;
    font-size: 140%;
    color: #ff6633;
    clear: both;
    float: none !important; }
  .hitachi-dark .kh-search-error {
    padding-left: 14em;
    padding-right: 5em;
    color: #ff6666; }
  .hitachi-dark div.kh-search-container div.kh-search-block {
    border: 0; }
  .hitachi-dark table.kh-signin-details th,
  .hitachi-dark table.kh-signin-details td {
    padding: .25em; }
  .hitachi-dark table.kh-signin-details th {
    padding-right: .5em; }
  .hitachi-dark table.kh-signin-details td {
    color: white;
    text-align: left; }
  .hitachi-dark div.kh-menu-panel-content {
    border: solid #111111 1px;
    background-color: #333333;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px; }
  .hitachi-dark div.kh-menu-panel-content form {
    padding: 0px;
    margin: 0px; }
  .hitachi-dark div.kh-menu-panel-content div > a {
    color: #a6c8ff !important;
    text-decoration: underline !important; }
  .hitachi-dark table.kh-list-standard div.kh-menu-panel-content-js {
    margin-left: 5px; }
  .hitachi-dark button.kh-button-trigger {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-left: 5px; }
  .hitachi-dark button.kh-button-trigger span {
    margin: 0px;
    padding: 0px;
    padding-top: 20px 0 0 0;
    padding-left: 30px;
    overflow: hidden;
    background-image: url("../rialto-dark/images/nav-arrow-down.gif") !important;
    background-repeat: no-repeat;
    color: transparent !important;
    background-position: 3px 2px;
    /*background-color: green;*/
    height: 0px !important;
    /* for most browsers */
    height: 35px;
    /* for IE5.5's bad box model */ }
  .hitachi-dark li.kh-menu-panel-js {
    float: left; }
  .hitachi-dark li.kh-menu-panel-js button {
    margin: 0px;
    margin-right: 5px;
    margin-bottom: 2px; }
  .hitachi-dark li.kh-menu-panel-js div.kh-menu-panel-content {
    position: absolute;
    top: 74px;
    left: 132px;
    z-index: 100;
    box-shadow: 1px 1px 2px #555555;
    -webkit-box-shadow: 1px 1px 2px #555555;
    -moz-box-shadow: 1px 1px 2px #555555;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    /*
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px; 
    */ }
  .hitachi-dark #kh_panel_fix_iframe {
    position: absolute;
    border: none;
    background-color: red;
    background-color: transparent;
    border: #151515 solid 1px !important;
    border: transparent solid 1px !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  .hitachi-dark div.kh-hide {
    display: none; }
  .hitachi-dark div.kh-show {
    display: block; }
  .hitachi-dark div.kh-nowrap {
    white-space: nowrap !important; }
  .hitachi-dark div.kh-menu-panel-content-js {
    /*position:absolute;
    top:74px;
    left:132px;
    z-index:100;*/
    position: absolute;
    box-shadow: 1px 1px 2px #555555;
    -webkit-box-shadow: 1px 1px 2px #555555;
    -moz-box-shadow: 1px 1px 2px #555555;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    /*
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px; 
    */ }
  .hitachi-dark div.kh-progress-indicator img {
    background-image: url("../rialto-dark/images/progress-spinner.gif") !important;
    width: 32px;
    /* width of icon for screen */
    height: 0;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 0px;
    padding-top: 32px;
    /* height of icon for screen */
    margin-right: 10px;
    overflow: hidden;
    border: none;
    display: block;
    float: left; }
  .hitachi-dark div.kh-progress-indicator p {
    padding-top: 10px;
    margin-left: 42px; }
  .hitachi-dark div.kh-copyright p {
    margin-top: 10px;
    text-align: center !important;
    color: #bbbbbb; }
  .hitachi-dark div.kh-product-info p {
    padding-top: 10px;
    padding-bottom: 10px; }
  .hitachi-dark div.kh-product-info strong {
    font-weight: bold; }
  .hitachi-dark div.kh-confirm-block {
    border: solid #999999 1px;
    background-color: #333333;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px; }
  .hitachi-dark div.kh-menu-panel-content a.kh-reveal-saved-search-settings-link {
    padding-top: 10px;
    color: #999999 !important;
    display: block;
    text-decoration: underline !important; }
  .hitachi-dark div.kh-list-standard ul {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    clear: both; }
  .hitachi-dark div.kh-list-standard ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #bbbbbb; }
  .hitachi-dark div.kh-list-standard ul li button {
    margin: 0px;
    margin-right: 2px;
    /*margin-left: .5em;*/
    padding: .25em;
    color: white;
    font-size: 90%; }
  .hitachi-dark div.kh-list-standard ul li button.kh-action-menu span {
    background-image: url("../rialto-dark/images/nav-arrow-down.gif") !important;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0px;
    padding-right: 14px;
    padding-left: 0px; }
  .hitachi-dark div.kh-list-standard ul li input {
    margin-right: .25em; }
  .hitachi-dark table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th,
  .hitachi-dark table.kh-list-standard-edit-prefs.dataTable tr.kh-list-head-prefs th,
  .hitachi-dark table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th.kh-list-standard-sort {
    background-image: url("../rialto-dark/images/table-texture-vertical-lines.gif") !important;
    /*background-color: $table-dt-head-draggable-color !important;*/
    background-repeat: repeat;
    cursor: move;
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px; }
  .hitachi-dark table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th:hover,
  .hitachi-dark table.kh-list-standard-edit-prefs.dataTable tr.kh-list-head-prefs th:hover,
  .hitachi-dark table.kh-list-standard-edit-prefs tr.kh-list-head-prefs th.kh-list-standard-sort:hover {
    text-decoration: none !important;
    background-image: url("../rialto-dark/images/table-texture-vertical-lines.gif") !important;
    background-color: #111111 !important;
    background-repeat: repeat;
    cursor: move; }
  .hitachi-dark table.kh-list-standard-edit-prefs td {
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px;
    vertical-align: middle; }
  .hitachi-dark ol.kh-filter-settings {
    /*line-height: 170%;*/
    min-width: 500px;
    color: #bbbbbb;
    padding-bottom: 5px; }
  .hitachi-dark ol.kh-filter-settings li {
    display: inline;
    white-space: nowrap; }
  .hitachi-dark ol.kh-filter-settings li strong {
    font-weight: bold;
    color: white; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard {
    background-color: #333333;
    /*width:100%;*/
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: solid #999999 1px;
    border-bottom: solid #999999 1px;
    clear: both; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard th {
    border-color: #666666;
    border-right: none;
    border-left: none;
    border-bottom: solid #999999 1px;
    color: #bbbbbb;
    text-align: left;
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px;
    cursor: default;
    background-image: none !important;
    text-decoration: none; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard td {
    border-color: #666666;
    border-right: none;
    border-left: none;
    color: white;
    padding: 3px;
    padding-right: 10px;
    padding-left: 16px;
    vertical-align: middle; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tbody tr:hover {
    /*background-color: #ffffee;*/ }
  .hitachi-dark table.kh-list-standard tr.kh-list-standard-empty {
    text-align: center; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.odd-child td.kh-doctype,
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.even-child td.kh-doctype {
    padding-left: 50px; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.odd td,
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.odd-child td {
    background-color: #333333; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.even td,
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.even-child td {
    background-color: #444444; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.odd td.sorting_1 {
    background-color: #222222;
    border-color: #777777; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr.even td.sorting_1 {
    background-color: #333333;
    border-color: #777777; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr td strong {
    font-weight: bold; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr th {
    cursor: pointer;
    background-image: url("../rialto-dark/images/table-sort-both.png") !important;
    background-repeat: no-repeat;
    background-position: left center; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr th.sorting_disabled {
    cursor: default;
    background-image: none !important; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr th.sorting_asc {
    background-image: url("../rialto-dark/images/table-sort-asc") !important;
    background-repeat: no-repeat;
    background-position: left center; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr th.sorting_desc {
    background-image: url("../rialto-dark/images/table-sort-desc.png") !important;
    background-repeat: no-repeat;
    background-position: left center; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr th:hover {
    text-decoration: underline; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr th.sorting_disabled:hover {
    text-decoration: none; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr th {
    padding-left: 16px !important; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr td a {
    color: #a6c8ff; }
  .hitachi-dark div.kh-list-standard table.kh-list-standard tr td a:hover {
    color: #cbdfff; }
  .hitachi-dark table.kh-list-standard tr.odd:hover td,
  .hitachi-dark table.kh-list-standard tr.odd-child:hover td,
  .hitachi-dark table.kh-list-standard tr.odd:hover td.kh-table-column-selected {
    background-color: #666666 !important; }
  .hitachi-dark table.kh-list-standard tr.even:hover td,
  .hitachi-dark table.kh-list-standard tr.even-child:hover td,
  .hitachi-dark table.kh-list-standard tr.even:hover td.kh-table-column-selected {
    background-color: #666666 !important; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.odd td.sorting_1 {
    background-color: #222222;
    border-color: #777777; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.even td.sorting_1 {
    background-color: #333333;
    border-color: #777777; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.kh-selected-odd td {
    background-color: #fff882; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.kh-selected-even td {
    background-color: #fffbb9; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.kh-selected-odd td.sorting_1 {
    background-color: #f7f181; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.kh-selected-even td.sorting_1 {
    background-color: #f7f3b5; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.odd:hover td,
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.odd-child:hover td,
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.odd:hover td.kh-table-column-selected {
    background-color: #666666; }
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.even:hover td,
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.even-child:hover td,
  .hitachi-dark div.dataTables_wrapper table.dataTable tr.even:hover td.kh-table-column-selected {
    background-color: #666666; }
  .hitachi-dark table.kh-list-standard-edit-prefs tr.odd td.kh-table-column-selected {
    background-color: #5b5428 !important; }
  .hitachi-dark table.kh-list-standard-edit-prefs tr.even td.kh-table-column-selected {
    background-color: #696236 !important; }
  .hitachi-dark div.dataTables_info {
    display: none; }
  .hitachi-dark div.dataTables_length-x {
    display: none; }
  .hitachi-dark div.dataTables_filter-x {
    display: none; }
  .hitachi-dark div.dataTables_wrapper th.sorting,
  .hitachi-dark div.dataTables_wrapper th.sorting_asc,
  .hitachi-dark div.dataTables_wrapper th.sorting_desc {
    padding-right: 20px; }
  .hitachi-dark .dataTables_wrapper {
    position: static; }
  .hitachi-dark ol.kh-paging-nav {
    margin-top: 15px;
    margin-right: 20px !important;
    display: block; }
  .hitachi-dark ol.kh-paging-nav li {
    float: left;
    padding: 0px 5px;
    margin-bottom: 5px;
    margin-top: 5px; }
  .hitachi-dark ol.kh-paging-nav li.kh-paging-previous a {
    background-image: url("../rialto-dark/images/nav-arrow-left.gif") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px !important; }
  .hitachi-dark ol.kh-paging-nav li.kh-paging-previous-disabled,
  .hitachi-dark ol.kh-paging-nav span.kh-paging-previous-disabled {
    color: #919191;
    background-image: url("../rialto-dark/images/nav-arrow-left-disabled.gif") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px !important; }
  .hitachi-dark ol.kh-paging-nav li.kh-paging-next a {
    background-image: url("../rialto-dark/images/nav-arrow-right.gif") !important;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px !important; }
  .hitachi-dark ol.kh-paging-nav li.kh-paging-next-disabled,
  .hitachi-dark ol.kh-paging-nav span.kh-paging-next-disabled {
    color: #919191;
    background-image: url("../rialto-dark/images/nav-arrow-right-disabled.gif") !important;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px !important; }
  .hitachi-dark ol.kh-paging-nav a {
    color: #a6c8ff; }
  .hitachi-dark ol.kh-paging-nav a:hover,
  .hitachi-dark ol.kh-paging-nav li a:hover {
    color: #cbdfff; }
  .hitachi-dark ol.kh-paging-nav li {
    display: inline;
    list-style: none; }
  .hitachi-dark ol.kh-paging-nav li.paging-middle {
    padding: 0px 5px;
    margin-top: 5px; }
  .hitachi-dark table.kh-table-search {
    border: none !important;
    margin: 0px;
    padding: 0px; }
  .hitachi-dark table.kh-table-search tr th {
    background-image: none !important;
    padding: 3px;
    padding-right: 6px !important;
    padding-left: 0px !important;
    color: #bbbbbb; }
  .hitachi-dark table.kh-table-search tr td {
    padding: 3px;
    padding-right: 5px;
    padding-bottom: 5px !important; }
  .hitachi-dark table.kh-table-search tr.kh-table-search-advanced th {
    border-bottom: 1px solid #999999;
    color: white; }
  .hitachi-dark table.kh-table-search tr a {
    color: #a6c8ff !important;
    text-decoration: underline !important; }
  .hitachi-dark table.kh-table-search tr th:hover {
    text-decoration: none; }
  .hitachi-dark table.kh-table-search tr.kh-table-search-section th {
    font-weight: bold;
    color: white;
    border-top: solid #999999 1px !important;
    border-bottom: solid #999999 1px !important; }
  .hitachi-dark table.kh-table-search tr.kh-table-search-buttons th,
  .hitachi-dark table.kh-table-search tr.kh-table-search-buttons td {
    border-top: 1px solid #999999;
    padding-top: 5px; }
  .hitachi-dark table.kh-table-search th em,
  .hitachi-dark table.kh-table-search td em {
    font-style: italic; }
  .hitachi-dark table.kh-table-search-saved {
    border: none !important;
    margin: 0px;
    padding: 0px; }
  .hitachi-dark table.kh-table-search-saved tr th {
    border: none !important;
    background-image: none !important;
    padding: 3px;
    padding-left: 0px !important;
    color: #bbbbbb; }
  .hitachi-dark table.kh-table-search-saved td {
    background-color: #333333 !important;
    padding: 3px;
    padding-right: 6px;
    border-bottom: solid 1px #999999; }
  .hitachi-dark table.kh-table-search-saved tr td.kh-saved-search-name a {
    color: #a6c8ff !important;
    text-decoration: underline !important; }
  .hitachi-dark table.kh-table-search-saved tr.kh-table-search-section th {
    font-weight: bold;
    color: white;
    border-top: solid #999999 1px !important;
    border-bottom: solid #999999 1px !important; }
  .hitachi-dark table.kh-table-nvp {
    text-align: left;
    font-weight: normal;
    color: white;
    border-top: solid 1pt #999999 !important;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px; }
  .hitachi-dark table.kh-table-nvp th {
    padding-left: 5px  !important;
    text-align: left;
    font-weight: normal;
    color: #bbbbbb; }
  .hitachi-dark table.kh-table-nvp th h3 {
    font-weight: bold;
    color: white;
    font-size: 100% !important; }
  .hitachi-dark table.kh-table-nvp th h4 {
    font-weight: bold;
    font-style: italic;
    color: #bbbbbb;
    font-size: 100% !important; }
  .hitachi-dark table.kh-table-nvp td {
    color: white; }
  .hitachi-dark table.kh-table-nvp th,
  .hitachi-dark table.kh-table-nvp td {
    border-bottom: solid 1pt #999999 !important;
    padding: 2px;
    padding-right: 10px;
    padding-left: 0px;
    margin: 0px; }
  .hitachi-dark table.kh-table-nvp tr.kh-form-error th {
    border-left: 3px solid #ff6666;
    color: #ff6666 !important; }
  .hitachi-dark table.kh-table-nvp input[type='radio'] {
    margin-right: 3px; }
  .hitachi-dark table.kh-table-nvp tr.kh-form-required th:after {
    content: " * ";
    color: white; }
  .hitachi-dark table.kh-table-nvp tr.kh-form-submit-area th,
  .hitachi-dark table.kh-table-nvp tr.kh-form-submit-area td {
    padding-top: 10px  !important;
    border-top: 2px solid #999999  !important;
    border-bottom: none  !important; }
  .hitachi-dark div.ui-datepicker {
    box-shadow: 3px 3px 5px #555555; }
  .hitachi-dark div.kh-contains-iframe {
    position: absolute;
    top: 55px !important;
    right: 0px !important;
    bottom: 10px !important;
    left: 10px !important; }
  .hitachi-dark div.kh-contains-iframe div.kh-container-main {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 10px !important;
    left: 0px; }
  .hitachi-dark #kh_document_iframe_wrapper {
    position: absolute;
    top: 7.5em !important;
    right: 10px;
    bottom: 10px !important;
    left: 10px; }
  .hitachi-dark #kh_document_iframe_wrapper iframe {
    margin-top: 0px;
    border: solid 1px #dddddd;
    /*position:relative;*/
    width: 100%;
    height: 100%; }
  .hitachi-dark div.kh-container-main iframe {
    margin-top: 10px;
    border: solid 1px #dddddd;
    height: 700px; }
  .hitachi-dark ul.kh-nav-admin li iframe {
    margin-top: 10px; }
  .hitachi-dark ol.kh-radio-list {
    padding-left: 10px; }
  .hitachi-dark ol.kh-radio-list li {
    padding-bottom: 5px; }
  .hitachi-dark ol.kh-radio-list li label {
    padding-right: 5px;
    padding-left: 5px; }
  .hitachi-dark label.kh-form-label-input-text {
    display: none; }
  .hitachi-dark fieldset.kh-fieldset-radio-group {
    margin-top: 10px; }
  .hitachi-dark fieldset.kh-fieldset-radio-group legend {
    color: white; }
  .hitachi-dark td.kh-doctype p {
    white-space: nowrap; }
  .hitachi-dark td.kh-doctype a {
    margin-top: 7px !important;
    margin-left: 2px;
    display: block;
    float: left; }
  .hitachi-dark td.kh-doctype button {
    margin-top: 5px !important;
    display: block;
    float: right; }
  .hitachi-dark td.kh-doctype-jpg img,
  .hitachi-dark td.kh-doctype-dcm img,
  .hitachi-dark td.kh-doctype-pdf img,
  .hitachi-dark td.kh-doctype-cda img,
  .hitachi-dark td.kh-doctype-folder img,
  .hitachi-dark td.kh-doctype-vid img,
  .hitachi-dark td.kh-doctype-unknown img {
    background-image: url("../rialto-dark/images/icon-doctype-unknown.gif") !important;
    width: 32px;
    /* width of icon for screen */
    height: 0;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 0px;
    padding-top: 32px;
    /* height of icon for screen */
    overflow: hidden;
    border: none;
    display: block;
    float: left; }
  .hitachi-dark td.kh-doctype-jpg img {
    background-image: url("../rialto-dark/images/icon-doctype-jpg.gif") !important; }
  .hitachi-dark td.kh-doctype-dcm img {
    background-image: url("../rialto-dark/images/icon-doctype-dcm.gif") !important; }
  .hitachi-dark td.kh-doctype-pdf img {
    background-image: url("../rialto-dark/images/icon-doctype-pdf.gif") !important; }
  .hitachi-dark td.kh-doctype-cda img {
    background-image: url("../rialto-dark/images/icon-doctype-cda.gif") !important; }
  .hitachi-dark td.kh-doctype-vid img {
    background-image: url("../rialto-dark/images/icon-doctype-vid.gif") !important; }
  .hitachi-dark td.kh-doctype-folder img {
    background-image: url("../rialto-dark/images/icon-doctype-folder.png") !important; }
  .hitachi-dark td.kh-doctype-folder a,
  .hitachi-dark td.kh-doctype-folder a:hover {
    font-weight: bold;
    color: white !important;
    text-decoration: none;
    cursor: default; }
  .hitachi-dark tbody.kh-hide-table-body {
    display: none; }
  .hitachi-dark .ui-menu .ui-menu-item {
    color: #a6c8ff;
    background-color: #333333;
    border: none;
    cursor: pointer; }
  .hitachi-dark .ui-menu .ui-menu-item a.ui-corner-all {
    color: #a6c8ff;
    background-color: #333333;
    background-image: none;
    border: none;
    border-radius: 0px;
    margin: 0px; }
  .hitachi-dark .ui-menu .ui-menu-item a.ui-state-focus,
  .hitachi-dark .ui-menu .ui-menu-item a.ui-state-hover,
  .hitachi-dark .ui-menu .ui-menu-item a.ui-state-active {
    background-color: #151515 !important;
    background-image: none;
    border: none;
    margin: 0px;
    text-decoration: underline; }
  .hitachi-dark table.kh-upload-files {
    clear: both; }
  .hitachi-dark table.table-striped tr.kh-upload-file-row,
  .hitachi-dark table.table-striped tr.kh-download-file-row {
    /*display: table-row !important;*/ }
  .hitachi-dark table.table-striped tr.kh-upload-file-row > td,
  .hitachi-dark table.table-striped tr.kh-download-file-row > td {
    border-top: 1px solid #999999; }
  .hitachi-dark table.table-striped tr.kh-upload-file-row td.kh-next-metadata,
  .hitachi-dark table.table-striped tr.kh-download-file-row td.kh-next-metadata {
    border: none !important; }
  .hitachi-dark table.table-striped tr.kh-upload-file-row button {
    display: inline;
    margin-right: 10px !important; }
  .hitachi-dark table.kh-upload-metadata {
    margin-top: 10px !important;
    margin-bottom: 20px !important; }
  .hitachi-dark table.kh-upload-metadata th,
  .hitachi-dark table.kh-upload-metadata td {
    padding: 2px !important;
    font-weight: normal;
    text-align: left;
    border-top: none !important; }
  .hitachi-dark div.kh-drop-target {
    /*border: 1px solid $upload-target-border;*/
    padding: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center; }
  .hitachi-dark div.kh-drop-target-hover {
    border: 3px solid #ff6633;
    padding: 7px;
    /* 10px minus border width */ }
  .hitachi-dark div.kh-drop-target h3 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    color: #ff6633; }
  .hitachi-dark div.kh-drop-target p {
    text-align: center;
    font-size: 120%;
    padding: 12px;
    color: #ff6633; }
  .hitachi-dark td.kh-file-name,
  .hitachi-dark td.kh-file-size,
  .hitachi-dark td.kh-file-status,
  .hitachi-dark td.kh-file-error,
  .hitachi-dark td.kh-file-status-progress,
  .hitachi-dark td.kh-file-status-complete,
  .hitachi-dark td.kh-file-status-error {
    font-weight: bold;
    vertical-align: middle; }
  .hitachi-dark td.kh-file-size {
    color: #bbbbbb;
    font-weight: normal; }
  .hitachi-dark td.kh-file-status-progress span.kh-status-progress-span,
  .hitachi-dark td.kh-file-status-complete span,
  .hitachi-dark td.kh-file-status-error span {
    font-weight: bold;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 30px;
    background: url("../rialto-dark/images/icon-status-ok-new.png") no-repeat !important;
    height: 24px;
    vertical-align: middle !important;
    display: block; }
  .hitachi-dark td.kh-file-status-progress span.kh-status-progress-span {
    background: url("../rialto-light/images/activity-indicator.gif") no-repeat !important;
    float: left; }
  .hitachi-dark td.kh-file-status-error span {
    color: #ff6666;
    background: url("../rialto-dark/images/icon-status-error-new.png") no-repeat !important; }
  .hitachi-dark td.kh-file-error {
    color: #ff6666; }
  .hitachi-dark div.kh-file-progress {
    float: left;
    display: block;
    margin-top: 4px; }
  .hitachi-dark button.kh-file-upload-button {
    margin-left: 10px !important; }
  .hitachi-dark #kh_button_upload_container_inner {
    margin: 0 auto !important;
    float: none !important;
    /* background-color:blue; */
    width: 11em; }
  .hitachi-dark #kh_button_upload_add span {
    display: inline; }
  .hitachi-dark #kh_button_upload_add,
  .hitachi-dark #kh_button_upload_start,
  .hitachi-dark #kh_button_upload_cancel {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border: solid 1px #999999;
    margin: 0px !important;
    height: 20px;
    background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#666666), to(black)); }
  .hitachi-dark #kh_button_upload_start,
  .hitachi-dark #kh_button_upload_cancel {
    height: 30px; }
  .hitachi-dark #kh_button_upload_add span.kh-button-label,
  .hitachi-dark #kh_button_upload_start span.kh-button-label,
  .hitachi-dark #kh_button_upload_cancel span.kh-button-label {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 12px;
    color: white;
    margin: 0px !important; }
  .hitachi-dark #kh_add_document a.kh-link-button-disabled,
  .hitachi-dark #kh_add_document a.kh-link-button-disabled:hover {
    color: #aaaaaa !important;
    border-color: #aaaaaa !important;
    background-color: #efefef !important;
    background-image: none;
    cursor: default !important; }
  .hitachi-dark .fileupload-loading {
    background: url("../rialto-dark/images/file-upload-loading.gif" !important) center no-repeat; }
  .hitachi-dark .files .ui-progressbar-value,
  .hitachi-dark .fileupload-buttonbar .ui-progressbar-value {
    background: url("../rialto-light/images/progress-animation.gif"); }
  .hitachi-dark div.progress div.bar {
    background-color: red; }
  .hitachi-dark tr.kh-upload-file-row th,
  .hitachi-dark tr.kh-upload-file-row td {
    border-top: solid 2px #999999 !important; }
  .hitachi-dark table.kh-upload-files h3 {
    font-weight: bold; }
  .hitachi-dark table.kh-upload-metadata th h2 {
    color: black;
    font-weight: bold;
    font-size: 110%; }
  .hitachi-dark tr.kh-upload-section th h3 {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    background-image: url("../rialto-light/images/nav-arrow-down.gif");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 15px; }
  .hitachi-dark tr.kh-upload-section:hover th h3 {
    text-decoration: underline; }
  .hitachi-dark tr.kh-upload-section th h3.kh-upload-section-hidden {
    background-image: url("../rialto-light/images/nav-arrow-right.gif"); }
  .hitachi-dark table.kh-upload-metadata tr.kh-upload-section-row th {
    padding-left: 20px !important; }
  .hitachi-dark #kh_upload_simple_table > h2 {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 110%; }
  .hitachi-dark #kh_upload_container_buttons {
    padding-top: 10px;
    padding-bottom: 10px; }
  .hitachi-dark div.kh-move-status-container {
    padding-bottom: 10px;
    clear: both; }
  .hitachi-dark div.kh-move-status-bar {
    /*border: 1px solid blue;*/
    height: 25px;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-right: 10px; }
  .hitachi-dark div.kh-move-status-bar-progress {
    width: 102px !important; }
  .hitachi-dark div.kh-move-status-container {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-pending,
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-pending-all,
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-complete,
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-complete-all,
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-failed {
    height: 15px !important;
    padding: 0px !important;
    display: block;
    float: left; }
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-pending,
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-pending-all {
    color: #dddddd;
    font-size: 50%;
    background: url("../rialto-light/images/progress-animation.gif") !important;
    background-color: #dddddd !important;
    border: 1px solid #dddddd !important;
    border-left: none !important;
    height: 20px !important;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-pending-all {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-complete {
    background-color: #ff6633;
    color: #ff6633;
    font-size: 50%;
    border: 1px solid #ff6633;
    border-right: none;
    height: 20px !important;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-complete-all {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 24px !important;
    height: 24px !important;
    background: url("../rialto-dark/images/icon-status-ok-new.png") no-repeat !important; }
  .hitachi-dark div.kh-move-status-bar span.kh-progress-move-failed {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 24px !important;
    height: 24px !important;
    background: url("../rialto-dark/images/icon-status-error-new.png") no-repeat !important; }
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-complete > span,
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-complete-all > span,
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-pending > span,
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-pending-all > span,
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-failed > span {
    display: none; }
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-summary,
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-summary-failed {
    padding-top: 5px !important;
    padding-left: 30px !important;
    display: block; }
  .hitachi-dark div.kh-move-status-container span.kh-progress-move-summary-failed {
    color: red; }
  .hitachi-dark div.kh-move-status-container strong {
    font-weight: bold; }
  .hitachi-dark table.kh-list-standard div.kh-move-status-container span.kh-progress-move-summary,
  .hitachi-dark table.kh-list-standard div.kh-move-status-container span.kh-progress-move-summary-failed {
    display: none; }
  .hitachi-dark div.kh-original-xml pre,
  .hitachi-dark div.kh-formatted-xml pre {
    width: 100%;
    word-wrap: break-word;
    /* IE */
    white-space: pre-wrap;
    color: #cccccc; }
  .hitachi-dark div.CodeRay .attribute-name {
    color: #cccccc; }
  .hitachi-dark div.CodeRay .delimiter {
    color: #cccccc; }
  .hitachi-dark div.CodeRay .tag {
    color: #aaaadd; }
  .hitachi-dark div.CodeRay .string {
    color: #00cc00; }
  .hitachi-dark div.CodeRay .equal {
    color: #cccccc; }
  .hitachi-dark div.CodeRay .bracket {
    color: #cccccc; }
  .hitachi-dark div.CodeRay .preprocessor {
    color: #cccccc; }
