$name: "mckesson-light";

$mckesson-orange: rgb(210,104,47);
$mckesson-blue: rgb(27,50,128);

$karos-blue: $mckesson-blue;
$karos-orange: $mckesson-orange;

$blue: $mckesson-blue;
$blue-light: $mckesson-blue;

$link-color-default: $blue;
$link-color-default-hover: $blue-light;


$text-heading: $mckesson-orange;

/* ---------- ---------- ---------- */
/* Branding */
$branding-top-bar: '../mckesson-light/images/mckesson-bar.png';
$branding-logo: '../mckesson-light/images/logo-mckesson.png';

/* Logo positioning and size */
$branding_logo_top: 20px;
$branding_logo_left: 15px;

$branding_logo_width: 300px;
$branding_logo_height: 50px;

$branding_head_bottom: 5px;
$branding_head_left: 325px;

/* Login screen */
$branding-logo-login: '../mckesson-light/images/logo-mckesson-400.png';
$branding-logo-login-x: 7px;
$branding-logo-login-y: 30px;
$branding-logo-login-padding: 130px;
$branding-logo-login-width: 440px;

$activity-indicator: '../mckesson-light/images/activity-indicator.gif';
