html {
  font-family:Helvetica,Arial,sans-serif;
}
body {
  background-color:#ffffff;
}
#ev_login_screen > div {
  padding:20px;
}
#main_box {
  margin:20px;
}
#ev_user, #ev_password, #ev_realm, #ev_lang, #ev_share_session_id {
  width:150px;
}
#ev_login_form td {
  padding:5px;
  width:100px;
}
#ev_cookie_policy td, #ev_cookie_policy th {
  padding:8px;
  border:1px solid gray;
}
#ev_screen {
  display:none;
}
#ev_footer {
 font-family:Helvetica,Arial,sans-serif;
 font-size:11px;
}
#ev_openuris {
  display: none;
  visibility: hidden;
}
