<!DOCTYPE html>
<html>
<head>
    <title>EasyViz Web Client</title>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Apple iOS Safari settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- App Start Icon -->
    <link rel="apple-touch-startup-image" href="novnc/images/screen_320x460.png" />
    <!-- For iOS devices set the icon to use if user bookmarks app on their homescreen -->
    <link rel="apple-touch-icon" href="novnc/images/screen_57x57.png">
    <link href="images/favicon.png" rel="shortcut icon"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/ev.css" />

    <!-- accept: <%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %> -->

    <!-- promise polyfills promises for IE11 -->
    <script src="./novnc/vendor/promise.js"></script>
    <!-- ES2015/ES6 modules polyfill -->
    <script type="module">
        window._noVNC_has_module_support = true;
    </script>
    <script>
        window.addEventListener("load", function() {
        if (window._noVNC_has_module_support) return;
            var loader = document.createElement("script");
            loader.src = "novnc/vendor/browser-es-module-loader/dist/browser-es-module-loader.js";
            document.head.appendChild(loader);
        });
    </script>
    <script type="text/javascript" charset="utf-8">
      var lang = "<%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %>";
      g_tr = {
        DISCONNECTED: "Disconnected",
        INCORRECT_USERNAME_OR_PASSWORD: "Incorrect username or password",
        CODE: "Code",
        LOGGING_IN: "Logging in",
        LAUNCHING_VNC: "Launching",
        PRECONNECTING: "Logging in"
      };
    </script>

    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/i18next.min.js"></script>
    <script src="js/i18nextBrowserLanguageDetector.min.js"></script>
    <script src="js/i18nextXHRBackend.min.js"></script>
    <script src="js/build-info.js"></script>
    <script src="js/log.js"></script>
    <script src="js/util.js"></script>
    <script src="js/unicode.js"></script>
    <script src="js/index.localization.js"></script>

    <script type="module" src="./js/main.js"></script>
</head>

<body>
  <div id="ev_login_screen">
    <br/>
    <br/>
    <br/>
    <center>
      <div id="ev_header">
        <div><img src="images/ev_logo.gif" alt="EasyViz logo" /></div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="main_box" style="border-style: solid; border-width: 0px;">
        <div class="login_box">
          <form id="ev_login_form" action="#">
            <table width="" cellspacing="" cellpadding="" border="">
              <tr>
                <td id="username_text"></td><td><input id="ev_user"/></td>
              </tr>
              <tr>
                <td id="password_text"></td><td><input id="ev_password" type="password"/></td>
              </tr>
              <tr>
                <td id="domain_text"></td><td><input id="ev_realm"/></td>
              </tr>
              <tr>
                <td id="language_text"></td><td>
                  <select id="ev_lang" onchange="i18next.changeLanguage($('#ev_lang :selected').val().substring(0, 2));">
                    <option value="da_DK.utf8" id="da_DK_text"></option>
                    <option value="sv_SE.utf8" id="sv_SE_text"></option>
                    <option value="en_US.utf8" id="en_US_text"></option>
                    <option value="en_GB.utf8" id="en_GB_text"></option>
                    <option value="en_CA.utf8" id="en_CA_text"></option>
                    <option value="en_AU.utf8" id="en_AU_text"></option>
                    <option value="de_DE.utf8" id="de_DE_text"></option>
                    <option value="de_CH.utf8" id="de_CH_text"></option>
                    <option value="de_AT.utf8" id="de_AT_text"></option>
                    <option value="fr_FR.utf8" id="fr_FR_text"></option>
                    <option value="fr_BE.utf8" id="fr_BE_text"></option>
                    <option value="it_IT.utf8" id="it_IT_text"></option>
                    <option value="ja_JP.utf8" id="ja_JP_text"></option>
                    <option value="es_ES.utf8" id="es_ES_text"></option>
                    <option value="es_MX.utf8" id="es_MX_text"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan=2><input type="checkbox" id="ev_join" value="1"/>
                  <label for="ev_join" id="join_text"></label>
                  <input type="checkbox" id="ev_roam" value="1"/>
                  <label for="ev_roam" id="resume_text"></label>
                </td>
              </tr>
              <tr class="toggle" style="display: none;">
                <td id="share_session_id_label"></td><td><input id="ev_share_session_id"/></td>
              </tr>
              <tr>
                <td></td>
                <td align="right"><input id="ev_connect_button" type="submit" value="Connect"/></td>
              </tr>
            </table>
          </form>
          <br/>
          <br/>
          <div class="status_box">
            <ul>
              <li><em id="connection_status_text"></em>: <span id="ev_connect_status"></span></li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="ev_footer">
        <br/>
          <!-- MI_VC_BRANCH_NAME = <%= data['MI_VC_BRANCH_NAME'] %> -->
          <!-- MI_VC_COMMIT_ID = <%= data['MI_VC_COMMIT_ID'] %> -->
          <img src="images/icon_advice.gif" alt="Advice" />
            &nbsp;
            <span id="ev_version_label"></span>
          <a id="ev_cookie_policy_link" href="#"></a>
      </div>
        <br/>
      <div id="ev_cookie_policy" style="width: 800px; background: white; align: left; padding: 15px;
                                        border-radius: 5px; display: none;">
        <h2 id="use_of_cookies_text"></h2>
        <br/>
        <p align="left" id="cookies_description_text"></p>
        <br/>
        <p align="left" id="cookie_table_text"></p>
        <br/>

        <div style="padding: 15px;">
          <table style="border: 1px solid grey; width: 100%;">
            <thead>
              <tr><th id="cookie_column_text"></th> <th id="purpose_column_text"></th> <th id="expires_column_text"></th></tr>
            </thead>
            <tbody>
              <tr>
                <td>realm</td>
                <td id="realm_cookie_description_text"></td>
                <td id="realm_cookie_expiration_text"></td>
              </tr>
              <tr>
                <td>lang</td>
                <td id="lang_cookie_description_text"></td>
                <td id="lang_cookie_expiration_text"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </center>
  </div>

  <div id="ev_screen">
  </div>
  <div id="ev_openuris"></div>
</body>
</html>
