<!DOCTYPE html>
<html>
<head>
    <title>EasyViz Web Client</title>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
                Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE9">

    <!-- Apple iOS Safari settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- App Start Icon -->
    <link rel="apple-touch-startup-image" href="novnc/images/screen_320x460.png" />
    <!-- For iOS devices set the icon to use if user bookmarks app on their homescreen -->
    <link rel="apple-touch-icon" href="novnc/images/screen_57x57.png">
    <link href="images/favicon.png" rel="shortcut icon"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/ev.css" />

    <!-- accept: <%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %> -->       <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/iecompat.css"></link>
    <![endif]--> <!--[if (!IE)|(GT IE 9)]> -->       <!-- <![endif]-->
    <script type="text/javascript" charset="utf-8">
    var lang = "<%= html_escape(ENV['HTTP_ACCEPT_LANGUAGE']) %>";
    g_tr = {
      DISCONNECTED: "Nicht verbunden",
      INCORRECT_USERNAME_OR_PASSWORD: "Benutzername oder Passwort falsch",
      VNC_CLIENT: "VNC Client",
      CODE: "Code",
      LOGGING_IN: "Anmelden",
      LAUNCHING_VNC: "Starten",
      PRECONNECTING: "Anmelden",
      MANUAL_CHROME_FRAME: "Hier klicken, um Chrome Frame manuell zu installieren, falls Sie Chrome Frame nicht &uuml;ber das Fenster oben installieren konnten."
    };
    </script>

    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/log.js"></script>
    <script src="js/util.js"></script>
    <script src="js/unicode.js"></script>

    <script>var INCLUDE_URI = "novnc/include/"</script>
    <script src="novnc/include/util.js"></script>
    <script src="js/URI.min.js"></script>
    <script src="js/vnc.js"></script>
    <script src="js/backend.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
  <div id="ev_login_screen">
    <br/>
    <br/>
    <br/>
    <center>
      <div id="ev_header">
        <div><img src="images/ev_logo.gif" alt="EasyViz logo" /></div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="main_box" style="border-style: solid; border-width: 0px;">
        <div class="login_box">
          <form id="ev_login_form" action="#">
            <table width="" cellspacing="" cellpadding="" border="">
              <tr>
                <td>Benutzername</td><td><input id="ev_user"/></td>
              </tr>
              <tr>
                <td>Passwort</td><td><input id="ev_password" type="password"/></td>
              </tr>
              <tr>
                <td>Dom&auml;ne</td><td><input id="ev_realm"/></td>
              </tr>
              <tr>
                <td>Sprache</td><td>
                  <select id="ev_lang">
                    <option value="en_US.utf8">Englisch</option>
                    <option value="da_DK.utf8">D&auml;nisch</option>
                    <option value="fr_FR.utf8">Franz&ouml;sisch</option>
                    <option value="de_DE.utf8">Deutsch</option>
                    <option value="es_ES.utf8">Spanisch</option>
                    <option value="sv_SE.utf8">Schwedisch</option>
                    <option value="it_IT.utf8">Italienisch</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan=2><input type="checkbox" id="ev_join" value="1"/>
                  <label for="ev_join">Registrieren</label>
                  <input type="checkbox" id="ev_roam" value="1"/>
                  <label for="ev_roam">Fortfahren</label>
                </td>
              </tr>
              <tr class="toggle">
                <td>Sitzungs-ID</td><td><input id="ev_share_session_id"/></td>
              </tr>
              <tr>
                <td></td>
                <td align="right"><input id="ev_connect_button" type="submit" value="Verbinden"/></td>
              </tr>
            </table>
          </form>
          <br/>
          <br/>
          <div class="status_box">
            <ul>
              <li><em>Verbindungsstatus</em>: <span id="ev_connect_status">Nicht verbunden</span></li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div><!--[if lte IE 9]>
        <div id="cf_install_box">
        <div id="ev_cfmessage">
          <h3>Plugin Required</h3>
          <p>To use EasyViz Web Client in your current browser, the Google Chrome Frame plugin must be installed. To install it, please follow the instructions below.</p>
        </div>
        <div id="cfinstall_instructions" align="center">
          <div align="left" style="margin: 30px; width: 600px;">
                                   <ol style="list-style-type: decimal !important">
                                     <li>Download <a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a> (select "Save", not "Run").</li>
                                     <li>Close your browser.</li>
                                     <li>Install Google Chrome Frame (this requires administrative privileges).</li>
                                     <li>Start your browser and visit this page again.</li>
                                   </ol>
          </div>
        </div>
        <div align="left" style="margin: 20px; width: 600px;">
          <p>
            Alternatively you can use a different browser like
            <a href="http://www.mozilla.org/firefox/">Mozilla Firefox</a> or
            <a href="http://www.google.com/chrome/browser/">Google Chrome</a>.
          </p>
          <p style="margin: 80px;"></p>
        </div>
    <![endif]--></div>
      <div id="ev_footer">
        <br/><!-- MI_VC_BRANCH_NAME = <%= data['MI_VC_BRANCH_NAME'] %> --> <!-- MI_VC_COMMIT_ID = <%= data['MI_VC_COMMIT_ID'] %> --><img src="images/icon_advice.gif" alt="Advice" />&nbsp; EasyViz  () <!--[if (!IE)|(GT IE 9)]> --><%= data['EVVERSION'] %> (<%= data['BUILD_DATE'] %>) <a id="ev_cookie_policy_link" href="#">Cookie-Richtlinie</a><br><a href="GoogleChromeframeStandaloneEnterprise.msi">Google Chrome Frame</a><!-- <![endif]--></div>
        <br/>
      <div id="ev_cookie_policy" style="width: 800px; background: white; align: left; padding: 15px;
                                        border-radius: 5px; display: none;"> <!-- display: none;  --><h2>Verwendung von Cookies durch den EasyViz Web Client</h2>
        <br/>
        <p align="left">Cookies sind kleine Textdateien, die von den Websites, die Sie besuchen, auf Ihrem Computer gespeichert werden. Sie werden h&auml;ufig verwendet, um die Funktion von Websites zu gew&auml;hrleisten oder zu verbessern und um den Eigent&uuml;mern der Websites Informationen zu liefern.</p>
        <br/>
        <p align="left">Die Tabelle unten erkl&auml;rt, welche Cookies wir verwenden und weshalb wir das tun.</p>
        <br/>

        <div style="padding: 15px;">
          <table style="border: 1px solid grey; width: 100%;">
            <thead>
              <tr><th>Cookie</th> <th>Name</th> <th>Zweck</th> <th>L&auml;uft ab</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Sitzungs-ID</td> <td>Sitzungs-ID</td>
                <td>Merkt sich, dass ein Benutzer angemeldet ist.</td>
                <td>L&auml;uft ab, wenn der Browser geschlossen wird. Ihre EasyViz-Sitzung (nicht das Cookie) auf dem Server l&auml;uft m&ouml;glicherweise schon vorher ab. </td>
              </tr>
              <tr>
                <td>Dom&auml;ne</td> <td>realm</td>
                <td>Dieses Cookie wird verwendet, um die zuletzt verwendete Dom&auml;neneinstellung eines Benutzers zu speichern. </td>
                <td>Dieser Wert l&auml;uft nach einem Jahr ab.</td>
              </tr>
              <tr>
                <td>Sprache</td> <td>lang</td>
                <td>Dieses Cookie wird verwendet, um die zuletzt verwendete Spracheinstellung eines Benutzers zu speichern. </td>
                <td>Dieser Wert l&auml;uft nach einem Jahr ab.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </center>
  </div>

  <div id="ev_screen">
    <!-- HTML5 Canvas -->
    <canvas id="ev_canvas" width="640px" height="20px">
      <!-- Canvas not supported. -->
    </canvas>
  </div>
  <div id="ev_openuris"></div>
</body>
</html>
