body {
  background-color:white;
}
h2 {
  font-style:italic;
}
div#top {
  background-repeat:no-repeat;
  width:400px;
  height:300px;
  position:absolute;
}
div#downloadarea {
  position:absolute;
  left:175px;
  top:160px;
}
fieldset {
  background-color:edeeeb;
}
legend {
  background-color:edeeeb;
}
