@import "rialto-dark/rialto-dark-variables";
@import "hitachi-light/hitachi-light-variables";
@import "hitachi-dark-variables";

body.#{$name}{
  background-color: $main-background-color;
  color: $text-color-primary;
}

.#{$name}{
  @import "rialto-shared/RialtoBase";
  @import "rialto-shared/RialtoList";
  @import "rialto-shared/RialtoNVP";
  @import "rialto-shared/Documents";
  @import "rialto-shared/AuditRecords";
  @import "rialto-shared/EventRecords";
}
