$name: "hitachi-dark";

/* Branding */
$branding-top-bar: '../hitachi-dark/images/hitachi-bar.png';
$branding-logo: '../hitachi-dark/images/logo-hitachi.png';
$branding-logo-login: '../hitachi-dark/images/logo-hitachi-400.png';
$branding-logo-login-x: 10px;
$branding-logo-login-y: 20px;
$branding-logo-login-padding: 100px;
$branding-logo-login-width: 440px;

/* Logo positioning */
$logo_top: 20px;
$logo_left: 15px;
$logo_width: 401px;
$logo_height: 40px;

$logo_wrap_width: 280px;

/* Header */
/*$text-heading: red;*/

