@import "rialto-light/rialto-light-variables";
@import "hitachi-light-variables";

body.#{$name}{
  background-color: $main-background-color;
  color: $text-color-primary;
}

.#{$name}{

  @import "rialto-shared/RialtoBase";
  @import "rialto-shared/RialtoList";
  @import "rialto-shared/RialtoNVP";
  @import "rialto-shared/Documents";
  @import "rialto-shared/AuditRecords";
  @import "rialto-shared/EventRecords";
  @import "rialto-shared/DeviceRegistry";
  @import "rialto-shared/RialtoDashboard";
}
